In [1]:
import pandas as pd

In [2]:
metadata_file = "metadata_cleaned.csv"
metadata = pd.read_csv(metadata_file)

In [3]:
metadata

   geo_accession      target
0     GSM2982906      normal
1     GSM2982907  colorectal
2     GSM2982908      normal
3     GSM2982909  colorectal
4     GSM2982910      normal
5     GSM2982911  colorectal
6     GSM2982912      normal
7     GSM2982913  colorectal
8     GSM2982914      normal
9     GSM2982915  colorectal
10    GSM2982916      normal
11    GSM2982917  colorectal
12    GSM2982918      normal
13    GSM2982919  colorectal
14    GSM2982920      normal
15    GSM2982921  colorectal
16    GSM2982922      normal
17    GSM2982923  colorectal
18    GSM2982924      normal
19    GSM2982925  colorectal
20    GSM2982926      normal
21    GSM2982927  colorectal
22    GSM2982928      normal
23    GSM2982929  colorectal
24    GSM2982930      normal
25    GSM2982931  colorectal

In [4]:
class_counts = metadata["target"].value_counts()
print(class_counts)

target
normal        13
colorectal    13
Name: count, dtype: int64

In [5]:
metadata['target'].replace(['normal', 'colorectal'],
                        [0, 1], inplace=True)

In [6]:
metadata

   geo_accession  target
0     GSM2982906       0
1     GSM2982907       1
2     GSM2982908       0
3     GSM2982909       1
4     GSM2982910       0
5     GSM2982911       1
6     GSM2982912       0
7     GSM2982913       1
8     GSM2982914       0
9     GSM2982915       1
10    GSM2982916       0
11    GSM2982917       1
12    GSM2982918       0
13    GSM2982919       1
14    GSM2982920       0
15    GSM2982921       1
16    GSM2982922       0
17    GSM2982923       1
18    GSM2982924       0
19    GSM2982925       1
20    GSM2982926       0
21    GSM2982927       1
22    GSM2982928       0
23    GSM2982929       1
24    GSM2982930       0
25    GSM2982931       1

In [7]:
class_counts = metadata["target"].value_counts()
print(class_counts)

target
0    13
1    13
Name: count, dtype: int64

In [8]:
# Save the cleaned metadata to a new CSV file
output_file = "GSE110223_target_metadata.csv"
metadata.to_csv(output_file, index=False)

print(f"Cleaned metadata saved to {output_file}")

Cleaned metadata saved to GSE110223_target_metadata.csv