In [1]:
import pandas as pd

In [2]:
#read all metadata
metadata_file = "GSE74602_metadata_all.csv" 
metadata = pd.read_csv(metadata_file)

In [3]:
metadata.describe()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,platform_id,contact_name,contact_email,contact_institute,contact_address,contact_city,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
count,60,60,60,60,60,60,60,60,60,60,...,60,60,60,60,60,60,60,60,60,60
unique,60,60,1,1,1,1,1,60,1,2,...,1,1,1,1,1,1,1,1,1,1
top,"""4200270022_A""","""GSM1923670""","""Public on Nov 02 2016""","""Nov 03 2015""","""Nov 02 2016""","""RNA""","""1""","""Primary Tumor T1""","""Homo sapiens""","""tissue type: Tumor tissue""",...,"""GPL6104""","""Qiang,,Yu""","""yuq@gis.a-star.edu.sg""","""Genome Institute of Singapore""","""60 Biopolis Street""","""singapore""","""138672""","""Singapore""","""NONE""","""22184"""
freq,1,1,60,60,60,60,60,1,60,30,...,60,60,60,60,60,60,60,60,60,60

In [4]:
metadata.head()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,platform_id,contact_name,contact_email,contact_institute,contact_address,contact_city,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
0,"""4200270022_A""","""GSM1923670""","""Public on Nov 02 2016""","""Nov 03 2015""","""Nov 02 2016""","""RNA""","""1""","""Primary Tumor T1""","""Homo sapiens""","""tissue type: Tumor tissue""",...,"""GPL6104""","""Qiang,,Yu""","""yuq@gis.a-star.edu.sg""","""Genome Institute of Singapore""","""60 Biopolis Street""","""singapore""","""138672""","""Singapore""","""NONE""","""22184"""
1,"""4200270022_B""","""GSM1923671""","""Public on Nov 02 2016""","""Nov 03 2015""","""Nov 02 2016""","""RNA""","""1""","""Normal N1""","""Homo sapiens""","""tissue type: Normal non-cancerous tissue""",...,"""GPL6104""","""Qiang,,Yu""","""yuq@gis.a-star.edu.sg""","""Genome Institute of Singapore""","""60 Biopolis Street""","""singapore""","""138672""","""Singapore""","""NONE""","""22184"""
2,"""4200270022_C""","""GSM1923672""","""Public on Nov 02 2016""","""Nov 03 2015""","""Nov 02 2016""","""RNA""","""1""","""Primary Tumor T2""","""Homo sapiens""","""tissue type: Tumor tissue""",...,"""GPL6104""","""Qiang,,Yu""","""yuq@gis.a-star.edu.sg""","""Genome Institute of Singapore""","""60 Biopolis Street""","""singapore""","""138672""","""Singapore""","""NONE""","""22184"""
3,"""4200270022_D""","""GSM1923673""","""Public on Nov 02 2016""","""Nov 03 2015""","""Nov 02 2016""","""RNA""","""1""","""Normal N2""","""Homo sapiens""","""tissue type: Normal non-cancerous tissue""",...,"""GPL6104""","""Qiang,,Yu""","""yuq@gis.a-star.edu.sg""","""Genome Institute of Singapore""","""60 Biopolis Street""","""singapore""","""138672""","""Singapore""","""NONE""","""22184"""
4,"""4200270022_E""","""GSM1923674""","""Public on Nov 02 2016""","""Nov 03 2015""","""Nov 02 2016""","""RNA""","""1""","""Primary Tumor T3""","""Homo sapiens""","""tissue type: Tumor tissue""",...,"""GPL6104""","""Qiang,,Yu""","""yuq@gis.a-star.edu.sg""","""Genome Institute of Singapore""","""60 Biopolis Street""","""singapore""","""138672""","""Singapore""","""NONE""","""22184"""

In [5]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     60 non-null     object
 1   geo_accession             60 non-null     object
 2   status                    60 non-null     object
 3   submission_date           60 non-null     object
 4   last_update_date          60 non-null     object
 5   type                      60 non-null     object
 6   channel_count             60 non-null     object
 7   source_name_ch1           60 non-null     object
 8   organism_ch1              60 non-null     object
 9   characteristics_ch1       60 non-null     object
 10  biomaterial_provider_ch1  60 non-null     object
 11  molecule_ch1              60 non-null     object
 12  extract_protocol_ch1      60 non-null     object
 13  label_ch1                 60 non-null     object
 14  label_protocol_ch1        60 non-null     object
 15  taxid_ch1                 60 non-null     object
 16  hyb_protocol              60 non-null     object
 17  scan_protocol             60 non-null     object
 18  data_processing           60 non-null     object
 19  platform_id               60 non-null     object
 20  contact_name              60 non-null     object
 21  contact_email             60 non-null     object
 22  contact_institute         60 non-null     object
 23  contact_address           60 non-null     object
 24  contact_city              60 non-null     object
 25  contact_zip/postal_code   60 non-null     object
 26  contact_country           60 non-null     object
 27  supplementary_file        60 non-null     object
 28  data_row_count            60 non-null     object
dtypes: object(29)
memory usage: 13.7+ KB

In [6]:
metadata.shape

(60, 29)

In [7]:
metadata.columns

Index(['title', 'geo_accession', 'status', 'submission_date',
       'last_update_date', 'type', 'channel_count', 'source_name_ch1',
       'organism_ch1', 'characteristics_ch1', 'biomaterial_provider_ch1',
       'molecule_ch1', 'extract_protocol_ch1', 'label_ch1',
       'label_protocol_ch1', 'taxid_ch1', 'hyb_protocol', 'scan_protocol',
       'data_processing', 'platform_id', 'contact_name', 'contact_email',
       'contact_institute', 'contact_address', 'contact_city',
       'contact_zip/postal_code', 'contact_country', 'supplementary_file',
       'data_row_count'],
      dtype='object')

In [8]:
# List of columns to remove
columns_to_remove = [
      "title",  "status", "submission_date", "last_update_date", "type", "channel_count",
    "organism_ch1", "characteristics_ch1","biomaterial_provider_ch1",'molecule_ch1',
       'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1',
       'hyb_protocol', 'scan_protocol', 'description', 'data_processing', "platform_id",
    "contact_name", "contact_email",'contact_phone', "contact_institute", "contact_address",
    "contact_city", 'contact_state', "contact_zip/postal_code", "contact_country","contact_department",
    "supplementary_file", "data_row_count"
]

metadata_cleaned = metadata.drop(columns=columns_to_remove, errors="ignore")

In [9]:
metadata_cleaned.head()

  geo_accession     source_name_ch1
0  "GSM1923670"  "Primary Tumor T1"
1  "GSM1923671"         "Normal N1"
2  "GSM1923672"  "Primary Tumor T2"
3  "GSM1923673"         "Normal N2"
4  "GSM1923674"  "Primary Tumor T3"

In [10]:
metadata_cleaned.tail()

   geo_accession      source_name_ch1
55  "GSM1923725"         "Normal N28"
56  "GSM1923726"  "Primary Tumor T29"
57  "GSM1923727"         "Normal N29"
58  "GSM1923728"  "Primary Tumor T31"
59  "GSM1923729"         "Normal N31"

In [11]:
metadata_cleaned["target"] = metadata_cleaned["source_name_ch1"].str.extract(r"(Normal|Tumor)")

In [12]:
metadata_cleaned.head()

  geo_accession     source_name_ch1  target
0  "GSM1923670"  "Primary Tumor T1"   Tumor
1  "GSM1923671"         "Normal N1"  Normal
2  "GSM1923672"  "Primary Tumor T2"   Tumor
3  "GSM1923673"         "Normal N2"  Normal
4  "GSM1923674"  "Primary Tumor T3"   Tumor

In [13]:
metadata_cleaned.tail()

   geo_accession      source_name_ch1  target
55  "GSM1923725"         "Normal N28"  Normal
56  "GSM1923726"  "Primary Tumor T29"   Tumor
57  "GSM1923727"         "Normal N29"  Normal
58  "GSM1923728"  "Primary Tumor T31"   Tumor
59  "GSM1923729"         "Normal N31"  Normal

In [14]:
metadata_cleaned

   geo_accession      source_name_ch1  target
0   "GSM1923670"   "Primary Tumor T1"   Tumor
1   "GSM1923671"          "Normal N1"  Normal
2   "GSM1923672"   "Primary Tumor T2"   Tumor
3   "GSM1923673"          "Normal N2"  Normal
4   "GSM1923674"   "Primary Tumor T3"   Tumor
5   "GSM1923675"          "Normal N3"  Normal
6   "GSM1923676"   "Primary Tumor T4"   Tumor
7   "GSM1923677"          "Normal N4"  Normal
8   "GSM1923678"   "Primary Tumor T5"   Tumor
9   "GSM1923679"          "Normal N5"  Normal
10  "GSM1923680"   "Primary Tumor T6"   Tumor
11  "GSM1923681"          "Normal N6"  Normal
12  "GSM1923682"   "Primary Tumor T7"   Tumor
13  "GSM1923683"          "Normal N7"  Normal
14  "GSM1923684"   "Primary Tumor T8"   Tumor
15  "GSM1923685"          "Normal N8"  Normal
16  "GSM1923686"   "Primary Tumor T9"   Tumor
17  "GSM1923687"          "Normal N9"  Normal
18  "GSM1923688"  "Primary Tumor T10"   Tumor
19  "GSM1923689"         "Normal N10"  Normal
20  "GSM1923690"  "Primary Tumor T11"   Tumor
21  "GSM1923691"         "Normal N11"  Normal
22  "GSM1923692"  "Primary Tumor T12"   Tumor
23  "GSM1923693"         "Normal N12"  Normal
24  "GSM1923694"  "Primary Tumor T13"   Tumor
25  "GSM1923695"         "Normal N13"  Normal
26  "GSM1923696"  "Primary Tumor T14"   Tumor
27  "GSM1923697"         "Normal N14"  Normal
28  "GSM1923698"  "Primary Tumor T15"   Tumor
29  "GSM1923699"         "Normal N15"  Normal
30  "GSM1923700"  "Primary Tumor T16"   Tumor
31  "GSM1923701"         "Normal N16"  Normal
32  "GSM1923702"  "Primary Tumor T17"   Tumor
33  "GSM1923703"         "Normal N17"  Normal
34  "GSM1923704"  "Primary Tumor T18"   Tumor
35  "GSM1923705"         "Normal N18"  Normal
36  "GSM1923706"  "Primary Tumor T19"   Tumor
37  "GSM1923707"         "Normal N19"  Normal
38  "GSM1923708"  "Primary Tumor T20"   Tumor
39  "GSM1923709"         "Normal N20"  Normal
40  "GSM1923710"  "Primary Tumor T21"   Tumor
41  "GSM1923711"         "Normal N21"  Normal
42  "GSM1923712"  "Primary Tumor T22"   Tumor
43  "GSM1923713"         "Normal N22"  Normal
44  "GSM1923714"  "Primary Tumor T23"   Tumor
45  "GSM1923715"         "Normal N23"  Normal
46  "GSM1923716"  "Primary Tumor T24"   Tumor
47  "GSM1923717"         "Normal N24"  Normal
48  "GSM1923718"  "Primary Tumor T25"   Tumor
49  "GSM1923719"         "Normal N25"  Normal
50  "GSM1923720"  "Primary Tumor T26"   Tumor
51  "GSM1923721"         "Normal N26"  Normal
52  "GSM1923722"  "Primary Tumor T27"   Tumor
53  "GSM1923723"         "Normal N27"  Normal
54  "GSM1923724"  "Primary Tumor T28"   Tumor
55  "GSM1923725"         "Normal N28"  Normal
56  "GSM1923726"  "Primary Tumor T29"   Tumor
57  "GSM1923727"         "Normal N29"  Normal
58  "GSM1923728"  "Primary Tumor T31"   Tumor
59  "GSM1923729"         "Normal N31"  Normal

In [15]:
metadata_final = metadata_cleaned.drop(columns='source_name_ch1', errors="ignore")

In [16]:
metadata_final.head()

  geo_accession  target
0  "GSM1923670"   Tumor
1  "GSM1923671"  Normal
2  "GSM1923672"   Tumor
3  "GSM1923673"  Normal
4  "GSM1923674"   Tumor

In [17]:
# Remove quotes from the geo_accession column (it's the first column)
metadata_final.iloc[:, 0] = metadata_final.iloc[:, 0].str.replace('"', '', regex=False)

In [18]:
metadata_cleaned= metadata_final
metadata_cleaned.head()

  geo_accession  target
0    GSM1923670   Tumor
1    GSM1923671  Normal
2    GSM1923672   Tumor
3    GSM1923673  Normal
4    GSM1923674   Tumor

In [19]:
# Save the cleaned metadata
metadata_cleaned.to_csv("metadata_cleaned.csv", index=False)

print("Columns removed and saved as metadata_cleaned.csv")

Columns removed and saved as metadata_cleaned.csv