In [1]:
import pandas as pd
import re

In [2]:
#file path
file_path = "GSE74602_series_matrix.txt"

# Read the file, ignoring comment lines and extracting metadata
metadata = {}
with open(file_path, "r") as file:
    for line in file:
        if line.startswith("!Sample_"):
            key, values = line.split("\t", 1)
            key = key.replace("!Sample_", "").strip()
            values = values.strip().split("\t")
            metadata[key] = values

df_metadata_all = pd.DataFrame(metadata)

print(df_metadata_all.head())

            title geo_accession                   status submission_date  \
0  "4200270022_A"  "GSM1923670"  "Public on Nov 02 2016"   "Nov 03 2015"
1  "4200270022_B"  "GSM1923671"  "Public on Nov 02 2016"   "Nov 03 2015"
2  "4200270022_C"  "GSM1923672"  "Public on Nov 02 2016"   "Nov 03 2015"
3  "4200270022_D"  "GSM1923673"  "Public on Nov 02 2016"   "Nov 03 2015"
4  "4200270022_E"  "GSM1923674"  "Public on Nov 02 2016"   "Nov 03 2015"

  last_update_date   type channel_count     source_name_ch1    organism_ch1  \
0    "Nov 02 2016"  "RNA"           "1"  "Primary Tumor T1"  "Homo sapiens"
1    "Nov 02 2016"  "RNA"           "1"         "Normal N1"  "Homo sapiens"
2    "Nov 02 2016"  "RNA"           "1"  "Primary Tumor T2"  "Homo sapiens"
3    "Nov 02 2016"  "RNA"           "1"         "Normal N2"  "Homo sapiens"
4    "Nov 02 2016"  "RNA"           "1"  "Primary Tumor T3"  "Homo sapiens"

                          characteristics_ch1  ... platform_id contact_name  \
0                 "tissue type: Tumor tissue"  ...   "GPL6104"  "Qiang,,Yu"
1  "tissue type: Normal non-cancerous tissue"  ...   "GPL6104"  "Qiang,,Yu"
2                 "tissue type: Tumor tissue"  ...   "GPL6104"  "Qiang,,Yu"
3  "tissue type: Normal non-cancerous tissue"  ...   "GPL6104"  "Qiang,,Yu"
4                 "tissue type: Tumor tissue"  ...   "GPL6104"  "Qiang,,Yu"

             contact_email                contact_institute  \
0  "yuq@gis.a-star.edu.sg"  "Genome Institute of Singapore"
1  "yuq@gis.a-star.edu.sg"  "Genome Institute of Singapore"
2  "yuq@gis.a-star.edu.sg"  "Genome Institute of Singapore"
3  "yuq@gis.a-star.edu.sg"  "Genome Institute of Singapore"
4  "yuq@gis.a-star.edu.sg"  "Genome Institute of Singapore"

        contact_address contact_city contact_zip/postal_code contact_country  \
0  "60 Biopolis Street"  "singapore"                "138672"     "Singapore"
1  "60 Biopolis Street"  "singapore"                "138672"     "Singapore"
2  "60 Biopolis Street"  "singapore"                "138672"     "Singapore"
3  "60 Biopolis Street"  "singapore"                "138672"     "Singapore"
4  "60 Biopolis Street"  "singapore"                "138672"     "Singapore"

  supplementary_file data_row_count
0             "NONE"        "22184"
1             "NONE"        "22184"
2             "NONE"        "22184"
3             "NONE"        "22184"
4             "NONE"        "22184"

[5 rows x 29 columns]

In [3]:
# Save the metadata DataFrame to a CSV file
df_metadata_all.to_csv("GSE74602_metadata_all.csv", index=False)

In [4]:
print(list(df_metadata_all.columns))

['title', 'geo_accession', 'status', 'submission_date', 'last_update_date', 'type', 'channel_count', 'source_name_ch1', 'organism_ch1', 'characteristics_ch1', 'biomaterial_provider_ch1', 'molecule_ch1', 'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1', 'hyb_protocol', 'scan_protocol', 'data_processing', 'platform_id', 'contact_name', 'contact_email', 'contact_institute', 'contact_address', 'contact_city', 'contact_zip/postal_code', 'contact_country', 'supplementary_file', 'data_row_count']

In [5]:
df_metadata_all.tail()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,platform_id,contact_name,contact_email,contact_institute,contact_address,contact_city,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
55,"""4200270048_H""","""GSM1923725""","""Public on Nov 02 2016""","""Nov 03 2015""","""Nov 02 2016""","""RNA""","""1""","""Normal N28""","""Homo sapiens""","""tissue type: Normal non-cancerous tissue""",...,"""GPL6104""","""Qiang,,Yu""","""yuq@gis.a-star.edu.sg""","""Genome Institute of Singapore""","""60 Biopolis Street""","""singapore""","""138672""","""Singapore""","""NONE""","""22184"""
56,"""4200270056_A""","""GSM1923726""","""Public on Nov 02 2016""","""Nov 03 2015""","""Nov 02 2016""","""RNA""","""1""","""Primary Tumor T29""","""Homo sapiens""","""tissue type: Tumor tissue""",...,"""GPL6104""","""Qiang,,Yu""","""yuq@gis.a-star.edu.sg""","""Genome Institute of Singapore""","""60 Biopolis Street""","""singapore""","""138672""","""Singapore""","""NONE""","""22184"""
57,"""4200270056_B""","""GSM1923727""","""Public on Nov 02 2016""","""Nov 03 2015""","""Nov 02 2016""","""RNA""","""1""","""Normal N29""","""Homo sapiens""","""tissue type: Normal non-cancerous tissue""",...,"""GPL6104""","""Qiang,,Yu""","""yuq@gis.a-star.edu.sg""","""Genome Institute of Singapore""","""60 Biopolis Street""","""singapore""","""138672""","""Singapore""","""NONE""","""22184"""
58,"""4200270056_C""","""GSM1923728""","""Public on Nov 02 2016""","""Nov 03 2015""","""Nov 02 2016""","""RNA""","""1""","""Primary Tumor T31""","""Homo sapiens""","""tissue type: Tumor tissue""",...,"""GPL6104""","""Qiang,,Yu""","""yuq@gis.a-star.edu.sg""","""Genome Institute of Singapore""","""60 Biopolis Street""","""singapore""","""138672""","""Singapore""","""NONE""","""22184"""
59,"""4200270056_D""","""GSM1923729""","""Public on Nov 02 2016""","""Nov 03 2015""","""Nov 02 2016""","""RNA""","""1""","""Normal N31""","""Homo sapiens""","""tissue type: Normal non-cancerous tissue""",...,"""GPL6104""","""Qiang,,Yu""","""yuq@gis.a-star.edu.sg""","""Genome Institute of Singapore""","""60 Biopolis Street""","""singapore""","""138672""","""Singapore""","""NONE""","""22184"""

In [6]:
for col in df_metadata_all.columns:
    print(f"Column: {col}")
    print(df_metadata_all[col].head())  # Show first few values of each column
    print("-" * 50)

Column: title
0    "4200270022_A"
1    "4200270022_B"
2    "4200270022_C"
3    "4200270022_D"
4    "4200270022_E"
Name: title, dtype: object
--------------------------------------------------
Column: geo_accession
0    "GSM1923670"
1    "GSM1923671"
2    "GSM1923672"
3    "GSM1923673"
4    "GSM1923674"
Name: geo_accession, dtype: object
--------------------------------------------------
Column: status
0    "Public on Nov 02 2016"
1    "Public on Nov 02 2016"
2    "Public on Nov 02 2016"
3    "Public on Nov 02 2016"
4    "Public on Nov 02 2016"
Name: status, dtype: object
--------------------------------------------------
Column: submission_date
0    "Nov 03 2015"
1    "Nov 03 2015"
2    "Nov 03 2015"
3    "Nov 03 2015"
4    "Nov 03 2015"
Name: submission_date, dtype: object
--------------------------------------------------
Column: last_update_date
0    "Nov 02 2016"
1    "Nov 02 2016"
2    "Nov 02 2016"
3    "Nov 02 2016"
4    "Nov 02 2016"
Name: last_update_date, dtype: object
--------------------------------------------------
Column: type
0    "RNA"
1    "RNA"
2    "RNA"
3    "RNA"
4    "RNA"
Name: type, dtype: object
--------------------------------------------------
Column: channel_count
0    "1"
1    "1"
2    "1"
3    "1"
4    "1"
Name: channel_count, dtype: object
--------------------------------------------------
Column: source_name_ch1
0    "Primary Tumor T1"
1           "Normal N1"
2    "Primary Tumor T2"
3           "Normal N2"
4    "Primary Tumor T3"
Name: source_name_ch1, dtype: object
--------------------------------------------------
Column: organism_ch1
0    "Homo sapiens"
1    "Homo sapiens"
2    "Homo sapiens"
3    "Homo sapiens"
4    "Homo sapiens"
Name: organism_ch1, dtype: object
--------------------------------------------------
Column: characteristics_ch1
0                   "tissue type: Tumor tissue"
1    "tissue type: Normal non-cancerous tissue"
2                   "tissue type: Tumor tissue"
3    "tissue type: Normal non-cancerous tissue"
4                   "tissue type: Tumor tissue"
Name: characteristics_ch1, dtype: object
--------------------------------------------------
Column: biomaterial_provider_ch1
0    "Singapore Tissue Bank batch 2"
1    "Singapore Tissue Bank batch 2"
2    "Singapore Tissue Bank batch 2"
3    "Singapore Tissue Bank batch 2"
4    "Singapore Tissue Bank batch 2"
Name: biomaterial_provider_ch1, dtype: object
--------------------------------------------------
Column: molecule_ch1
0    "total RNA"
1    "total RNA"
2    "total RNA"
3    "total RNA"
4    "total RNA"
Name: molecule_ch1, dtype: object
--------------------------------------------------
Column: extract_protocol_ch1
0    "RNA was extracted with Trizol reagent, follow...
1    "RNA was extracted with Trizol reagent, follow...
2    "RNA was extracted with Trizol reagent, follow...
3    "RNA was extracted with Trizol reagent, follow...
4    "RNA was extracted with Trizol reagent, follow...
Name: extract_protocol_ch1, dtype: object
--------------------------------------------------
Column: label_ch1
0    "Biotin"
1    "Biotin"
2    "Biotin"
3    "Biotin"
4    "Biotin"
Name: label_ch1, dtype: object
--------------------------------------------------
Column: label_protocol_ch1
0    "Biotinylated cRNA were prepared with the Ambi...
1    "Biotinylated cRNA were prepared with the Ambi...
2    "Biotinylated cRNA were prepared with the Ambi...
3    "Biotinylated cRNA were prepared with the Ambi...
4    "Biotinylated cRNA were prepared with the Ambi...
Name: label_protocol_ch1, dtype: object
--------------------------------------------------
Column: taxid_ch1
0    "9606"
1    "9606"
2    "9606"
3    "9606"
4    "9606"
Name: taxid_ch1, dtype: object
--------------------------------------------------
Column: hyb_protocol
0    "Standard Illumina hybridization protocol"
1    "Standard Illumina hybridization protocol"
2    "Standard Illumina hybridization protocol"
3    "Standard Illumina hybridization protocol"
4    "Standard Illumina hybridization protocol"
Name: hyb_protocol, dtype: object
--------------------------------------------------
Column: scan_protocol
0    "Standard Illumina scanning protocol"
1    "Standard Illumina scanning protocol"
2    "Standard Illumina scanning protocol"
3    "Standard Illumina scanning protocol"
4    "Standard Illumina scanning protocol"
Name: scan_protocol, dtype: object
--------------------------------------------------
Column: data_processing
0    "The data were normalised using quantile norma...
1    "The data were normalised using quantile norma...
2    "The data were normalised using quantile norma...
3    "The data were normalised using quantile norma...
4    "The data were normalised using quantile norma...
Name: data_processing, dtype: object
--------------------------------------------------
Column: platform_id
0    "GPL6104"
1    "GPL6104"
2    "GPL6104"
3    "GPL6104"
4    "GPL6104"
Name: platform_id, dtype: object
--------------------------------------------------
Column: contact_name
0    "Qiang,,Yu"
1    "Qiang,,Yu"
2    "Qiang,,Yu"
3    "Qiang,,Yu"
4    "Qiang,,Yu"
Name: contact_name, dtype: object
--------------------------------------------------
Column: contact_email
0    "yuq@gis.a-star.edu.sg"
1    "yuq@gis.a-star.edu.sg"
2    "yuq@gis.a-star.edu.sg"
3    "yuq@gis.a-star.edu.sg"
4    "yuq@gis.a-star.edu.sg"
Name: contact_email, dtype: object
--------------------------------------------------
Column: contact_institute
0    "Genome Institute of Singapore"
1    "Genome Institute of Singapore"
2    "Genome Institute of Singapore"
3    "Genome Institute of Singapore"
4    "Genome Institute of Singapore"
Name: contact_institute, dtype: object
--------------------------------------------------
Column: contact_address
0    "60 Biopolis Street"
1    "60 Biopolis Street"
2    "60 Biopolis Street"
3    "60 Biopolis Street"
4    "60 Biopolis Street"
Name: contact_address, dtype: object
--------------------------------------------------
Column: contact_city
0    "singapore"
1    "singapore"
2    "singapore"
3    "singapore"
4    "singapore"
Name: contact_city, dtype: object
--------------------------------------------------
Column: contact_zip/postal_code
0    "138672"
1    "138672"
2    "138672"
3    "138672"
4    "138672"
Name: contact_zip/postal_code, dtype: object
--------------------------------------------------
Column: contact_country
0    "Singapore"
1    "Singapore"
2    "Singapore"
3    "Singapore"
4    "Singapore"
Name: contact_country, dtype: object
--------------------------------------------------
Column: supplementary_file
0    "NONE"
1    "NONE"
2    "NONE"
3    "NONE"
4    "NONE"
Name: supplementary_file, dtype: object
--------------------------------------------------
Column: data_row_count
0    "22184"
1    "22184"
2    "22184"
3    "22184"
4    "22184"
Name: data_row_count, dtype: object
--------------------------------------------------

In [7]:
file_path = "GSE74602_series_matrix.txt"
data = pd.read_csv(file_path, sep="\t", comment="!", header=0)
print(data.head())

         ID_REF  GSM1923670  GSM1923671  GSM1923672  GSM1923673  GSM1923674  \
0  ILMN_1343291    0.034019    0.307699   -0.385204    0.218209    0.196362
1  ILMN_1343292    0.762679   -0.856875   -1.760679    0.088397    0.306509
2  ILMN_1343293    0.506224   -0.132675    0.965889   -0.018617    0.027961
3  ILMN_1343294   -0.042696    0.230176   -0.534735    0.035286    0.058753
4  ILMN_1651209   -0.092322    0.122087   -0.748453    0.041100    0.090834

   GSM1923675  GSM1923676  GSM1923677  GSM1923678  ...  GSM1923720  \
0    0.401151    0.122247    0.364366    0.038851  ...   -0.378550
1    0.171900   -0.420557    0.892984   -0.477663  ...   -0.261872
2   -0.117388    0.853586   -0.485096    0.730230  ...    0.930435
3    0.477515   -0.000821    0.152850    0.000821  ...   -0.344731
4    0.275813   -0.071506    0.040806   -0.067123  ...   -0.231332

   GSM1923721  GSM1923722  GSM1923723  GSM1923724  GSM1923725  GSM1923726  \
0   -0.115766   -0.235073   -0.209642    0.080709    0.149072   -0.218767
1    1.772682    1.029835    0.533648    0.123396    0.965112   -0.136953
2   -0.965127    0.588421    0.164329    0.598843   -0.422148   -0.094966
3    0.041217   -0.230332   -0.125455    0.083511    0.335932   -0.131966
4    0.254704   -0.103660   -0.073623    0.197407    0.075207   -0.408236

   GSM1923727  GSM1923728  GSM1923729
0    0.074314   -0.287520    0.146235
1    0.130172    0.079698    0.036143
2   -0.333024    0.391560   -0.388337
3    0.262913   -0.262721    0.499020
4    0.075943   -0.201398    0.256068

[5 rows x 61 columns]

In [8]:
data

,ID_REF,GSM1923670,GSM1923671,GSM1923672,GSM1923673,GSM1923674,GSM1923675,GSM1923676,GSM1923677,GSM1923678,...,GSM1923720,GSM1923721,GSM1923722,GSM1923723,GSM1923724,GSM1923725,GSM1923726,GSM1923727,GSM1923728,GSM1923729
0,ILMN_1343291,0.034019,0.307699,-0.385204,0.218209,0.196362,0.401151,0.122247,0.364366,0.038851,...,-0.378550,-0.115766,-0.235073,-0.209642,0.080709,0.149072,-0.218767,0.074314,-0.287520,0.146235
1,ILMN_1343292,0.762679,-0.856875,-1.760679,0.088397,0.306509,0.171900,-0.420557,0.892984,-0.477663,...,-0.261872,1.772682,1.029835,0.533648,0.123396,0.965112,-0.136953,0.130172,0.079698,0.036143
2,ILMN_1343293,0.506224,-0.132675,0.965889,-0.018617,0.027961,-0.117388,0.853586,-0.485096,0.730230,...,0.930435,-0.965127,0.588421,0.164329,0.598843,-0.422148,-0.094966,-0.333024,0.391560,-0.388337
3,ILMN_1343294,-0.042696,0.230176,-0.534735,0.035286,0.058753,0.477515,-0.000821,0.152850,0.000821,...,-0.344731,0.041217,-0.230332,-0.125455,0.083511,0.335932,-0.131966,0.262913,-0.262721,0.499020
4,ILMN_1651209,-0.092322,0.122087,-0.748453,0.041100,0.090834,0.275813,-0.071506,0.040806,-0.067123,...,-0.231332,0.254704,-0.103660,-0.073623,0.197407,0.075207,-0.408236,0.075943,-0.201398,0.256068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22179,ILMN_1815941,-0.565818,0.226491,-0.998321,0.270329,-0.133340,0.134321,-0.173133,0.100417,-0.562016,...,-0.218767,-0.609243,0.176452,1.286755,-0.135571,0.576673,-0.456197,1.216454,-0.631573,1.280032
22180,ILMN_1815951,0.172183,0.444314,0.407893,0.152678,-0.649105,0.012172,-0.780950,-0.053183,0.425327,...,0.346373,0.085504,-0.377775,-0.441590,0.530671,-0.009454,0.280210,-0.265296,0.276829,-0.238493
22181,ILMN_2038774,0.341347,0.414416,-0.125578,0.127866,0.211100,0.165775,-0.295197,0.327358,0.420284,...,-0.021048,0.290692,0.046564,-0.123339,0.390110,0.131330,0.140292,-0.205122,0.066446,-0.428761
22182,ILMN_2038777,-0.590778,-0.380373,-0.270124,0.160852,0.007412,-0.198785,0.045997,0.124743,0.002744,...,-0.389359,0.127387,-0.162085,-0.008984,-0.075281,0.368711,-0.030455,0.141069,-0.079700,0.599854
22183,ILMN_2038778,-0.671084,-0.696555,0.735986,-0.192957,0.562918,-0.539871,0.393401,-0.503925,0.682898,...,0.792549,-0.461852,-0.111986,-0.158969,0.482503,-0.328761,0.835826,-0.321191,1.002080,-0.002444

In [9]:
data.to_csv("GSE74602_gene_expression.csv", index=False)