In [1]:
import pandas as pd

In [2]:
metadata_file = "metadata_cleaned.csv"
metadata = pd.read_csv(metadata_file)

In [3]:
metadata

    geo_accession  target
0      GSM2843099   tumor
1      GSM2843100  mucosa
2      GSM2843101   tumor
3      GSM2843102  mucosa
4      GSM2843103  mucosa
..            ...     ...
189    GSM2843288   tumor
190    GSM2843289  mucosa
191    GSM2843290  mucosa
192    GSM2843291   tumor
193    GSM2843292  mucosa

[194 rows x 2 columns]

In [4]:
class_counts = metadata["target"].value_counts()
print(class_counts)

target
mucosa    117
tumor      77
Name: count, dtype: int64

In [5]:
metadata['target'].replace(['mucosa', 'tumor'],
                        [0, 1], inplace=True)

In [6]:
metadata

    geo_accession  target
0      GSM2843099       1
1      GSM2843100       0
2      GSM2843101       1
3      GSM2843102       0
4      GSM2843103       0
..            ...     ...
189    GSM2843288       1
190    GSM2843289       0
191    GSM2843290       0
192    GSM2843291       1
193    GSM2843292       0

[194 rows x 2 columns]

In [7]:
# Save the cleaned metadata to a new CSV file
output_file = "GSE106582_target_metadata.csv"
metadata.to_csv(output_file, index=False)

print(f"Cleaned metadata saved to {output_file}")

Cleaned metadata saved to GSE106582_target_metadata.csv