In [1]:
import pandas as pd
import re

In [2]:
#file path
file_path = "GSE21815_series_matrix.txt"

# Read the file, ignoring comment lines and extracting metadata
metadata = {}
with open(file_path, "r") as file:
    for line in file:
        if line.startswith("!Sample_"):
            key, values = line.split("\t", 1)
            key = key.replace("!Sample_", "").strip()
            values = values.strip().split("\t")
            metadata[key] = values

df_metadata_all = pd.DataFrame(metadata)

print(df_metadata_all.head())

     title geo_accession                   status submission_date  \
0  "CRC-1"   "GSM543123"  "Public on Sep 01 2011"   "May 13 2010"
1  "CRC-2"   "GSM543124"  "Public on Sep 01 2011"   "May 13 2010"
2  "CRC-3"   "GSM543125"  "Public on Sep 01 2011"   "May 13 2010"
3  "CRC-4"   "GSM543126"  "Public on Sep 01 2011"   "May 13 2010"
4  "CRC-5"   "GSM543127"  "Public on Sep 01 2011"   "May 13 2010"

  last_update_date   type channel_count      source_name_ch1    organism_ch1  \
0    "Jan 23 2012"  "RNA"           "1"  "colorectal cancer"  "Homo sapiens"
1    "Jan 23 2012"  "RNA"           "1"  "colorectal cancer"  "Homo sapiens"
2    "Sep 01 2011"  "RNA"           "1"  "colorectal cancer"  "Homo sapiens"
3    "Jan 23 2012"  "RNA"           "1"  "colorectal cancer"  "Homo sapiens"
4    "Sep 01 2011"  "RNA"           "1"  "colorectal cancer"  "Homo sapiens"

  characteristics_ch1  ...                  contact_laboratory  \
0        "depth: pSE"  ...  "Kyushu Univeristy Beppu Hospital"
1        "depth: pSS"  ...  "Kyushu Univeristy Beppu Hospital"
2                  ""  ...  "Kyushu Univeristy Beppu Hospital"
3        "depth: pSM"  ...  "Kyushu Univeristy Beppu Hospital"
4                  ""  ...  "Kyushu Univeristy Beppu Hospital"

        contact_department    contact_institute     contact_address  \
0  "Department of Surgery"  "Kyushu university"  "4546 Tsurumihara"
1  "Department of Surgery"  "Kyushu university"  "4546 Tsurumihara"
2  "Department of Surgery"  "Kyushu university"  "4546 Tsurumihara"
3  "Department of Surgery"  "Kyushu university"  "4546 Tsurumihara"
4  "Department of Surgery"  "Kyushu university"  "4546 Tsurumihara"

  contact_city contact_state contact_zip/postal_code contact_country  \
0      "Beppu"        "Oita"              "874-0838"         "Japan"
1      "Beppu"        "Oita"              "874-0838"         "Japan"
2      "Beppu"        "Oita"              "874-0838"         "Japan"
3      "Beppu"        "Oita"              "874-0838"         "Japan"
4      "Beppu"        "Oita"              "874-0838"         "Japan"

                                  supplementary_file data_row_count
0  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...        "41000"
1  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...        "41000"
2  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...        "41000"
3  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...        "41000"
4  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...        "41000"

[5 rows x 35 columns]

In [3]:
# Save the metadata DataFrame to a CSV file
df_metadata_all.to_csv("GSE21815_metadata_all.csv", index=False)

In [4]:
print(list(df_metadata_all.columns))

['title', 'geo_accession', 'status', 'submission_date', 'last_update_date', 'type', 'channel_count', 'source_name_ch1', 'organism_ch1', 'characteristics_ch1', 'treatment_protocol_ch1', 'molecule_ch1', 'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1', 'hyb_protocol', 'scan_protocol', 'description', 'data_processing', 'platform_id', 'contact_name', 'contact_email', 'contact_phone', 'contact_fax', 'contact_laboratory', 'contact_department', 'contact_institute', 'contact_address', 'contact_city', 'contact_state', 'contact_zip/postal_code', 'contact_country', 'supplementary_file', 'data_row_count']

In [5]:
df_metadata_all.tail()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,contact_laboratory,contact_department,contact_institute,contact_address,contact_city,contact_state,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
136,"""normal-5""","""GSM543259""","""Public on Sep 01 2011""","""May 13 2010""","""Jan 23 2012""","""RNA""","""1""","""normal epithelium""","""Homo sapiens""","""depth: ND""",...,"""Kyushu Univeristy Beppu Hospital""","""Department of Surgery""","""Kyushu university""","""4546 Tsurumihara""","""Beppu""","""Oita""","""874-0838""","""Japan""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...","""41000"""
137,"""normal-6""","""GSM543260""","""Public on Sep 01 2011""","""May 13 2010""","""Sep 01 2011""","""RNA""","""1""","""normal epithelium""","""Homo sapiens""","""""",...,"""Kyushu Univeristy Beppu Hospital""","""Department of Surgery""","""Kyushu university""","""4546 Tsurumihara""","""Beppu""","""Oita""","""874-0838""","""Japan""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...","""41000"""
138,"""normal-7""","""GSM543261""","""Public on Sep 01 2011""","""May 13 2010""","""Sep 01 2011""","""RNA""","""1""","""normal epithelium""","""Homo sapiens""","""""",...,"""Kyushu Univeristy Beppu Hospital""","""Department of Surgery""","""Kyushu university""","""4546 Tsurumihara""","""Beppu""","""Oita""","""874-0838""","""Japan""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...","""41000"""
139,"""normal-8""","""GSM543262""","""Public on Sep 01 2011""","""May 13 2010""","""Sep 01 2011""","""RNA""","""1""","""normal epithelium""","""Homo sapiens""","""""",...,"""Kyushu Univeristy Beppu Hospital""","""Department of Surgery""","""Kyushu university""","""4546 Tsurumihara""","""Beppu""","""Oita""","""874-0838""","""Japan""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...","""41000"""
140,"""normal-9""","""GSM543263""","""Public on Sep 01 2011""","""May 13 2010""","""Sep 01 2011""","""RNA""","""1""","""normal epithelium""","""Homo sapiens""","""""",...,"""Kyushu Univeristy Beppu Hospital""","""Department of Surgery""","""Kyushu university""","""4546 Tsurumihara""","""Beppu""","""Oita""","""874-0838""","""Japan""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...","""41000"""

In [6]:
for col in df_metadata_all.columns:
    print(f"Column: {col}")
    print(df_metadata_all[col].head())  # Show first few values of each column
    print("-" * 50)

Column: title
0    "CRC-1"
1    "CRC-2"
2    "CRC-3"
3    "CRC-4"
4    "CRC-5"
Name: title, dtype: object
--------------------------------------------------
Column: geo_accession
0    "GSM543123"
1    "GSM543124"
2    "GSM543125"
3    "GSM543126"
4    "GSM543127"
Name: geo_accession, dtype: object
--------------------------------------------------
Column: status
0    "Public on Sep 01 2011"
1    "Public on Sep 01 2011"
2    "Public on Sep 01 2011"
3    "Public on Sep 01 2011"
4    "Public on Sep 01 2011"
Name: status, dtype: object
--------------------------------------------------
Column: submission_date
0    "May 13 2010"
1    "May 13 2010"
2    "May 13 2010"
3    "May 13 2010"
4    "May 13 2010"
Name: submission_date, dtype: object
--------------------------------------------------
Column: last_update_date
0    "Jan 23 2012"
1    "Jan 23 2012"
2    "Sep 01 2011"
3    "Jan 23 2012"
4    "Sep 01 2011"
Name: last_update_date, dtype: object
--------------------------------------------------
Column: type
0    "RNA"
1    "RNA"
2    "RNA"
3    "RNA"
4    "RNA"
Name: type, dtype: object
--------------------------------------------------
Column: channel_count
0    "1"
1    "1"
2    "1"
3    "1"
4    "1"
Name: channel_count, dtype: object
--------------------------------------------------
Column: source_name_ch1
0    "colorectal cancer"
1    "colorectal cancer"
2    "colorectal cancer"
3    "colorectal cancer"
4    "colorectal cancer"
Name: source_name_ch1, dtype: object
--------------------------------------------------
Column: organism_ch1
0    "Homo sapiens"
1    "Homo sapiens"
2    "Homo sapiens"
3    "Homo sapiens"
4    "Homo sapiens"
Name: organism_ch1, dtype: object
--------------------------------------------------
Column: characteristics_ch1
0    "depth: pSE"
1    "depth: pSS"
2              ""
3    "depth: pSM"
4              ""
Name: characteristics_ch1, dtype: object
--------------------------------------------------
Column: treatment_protocol_ch1
0    "Laser micro-dissection"
1    "Laser micro-dissection"
2    "Laser micro-dissection"
3    "Laser micro-dissection"
4    "Laser micro-dissection"
Name: treatment_protocol_ch1, dtype: object
--------------------------------------------------
Column: molecule_ch1
0    "total RNA"
1    "total RNA"
2    "total RNA"
3    "total RNA"
4    "total RNA"
Name: molecule_ch1, dtype: object
--------------------------------------------------
Column: extract_protocol_ch1
0    "Total RNA was extracted with QIAGEN RNeasy mi...
1    "Total RNA was extracted with QIAGEN RNeasy mi...
2    "Total RNA was extracted with QIAGEN RNeasy mi...
3    "Total RNA was extracted with QIAGEN RNeasy mi...
4    "Total RNA was extracted with QIAGEN RNeasy mi...
Name: extract_protocol_ch1, dtype: object
--------------------------------------------------
Column: label_ch1
0    "Cy3"
1    "Cy3"
2    "Cy3"
3    "Cy3"
4    "Cy3"
Name: label_ch1, dtype: object
--------------------------------------------------
Column: label_protocol_ch1
0    "Cyanine (Cy)-labeled cRNA was prepared using ...
1    "Cyanine (Cy)-labeled cRNA was prepared using ...
2    "Cyanine (Cy)-labeled cRNA was prepared using ...
3    "Cyanine (Cy)-labeled cRNA was prepared using ...
4    "Cyanine (Cy)-labeled cRNA was prepared using ...
Name: label_protocol_ch1, dtype: object
--------------------------------------------------
Column: taxid_ch1
0    "9606"
1    "9606"
2    "9606"
3    "9606"
4    "9606"
Name: taxid_ch1, dtype: object
--------------------------------------------------
Column: hyb_protocol
0    "Hybridization was carried out using the condi...
1    "Hybridization was carried out using the condi...
2    "Hybridization was carried out using the condi...
3    "Hybridization was carried out using the condi...
4    "Hybridization was carried out using the condi...
Name: hyb_protocol, dtype: object
--------------------------------------------------
Column: scan_protocol
0    "Fluorescence intensities were determined with...
1    "Fluorescence intensities were determined with...
2    "Fluorescence intensities were determined with...
3    "Fluorescence intensities were determined with...
4    "Fluorescence intensities were determined with...
Name: scan_protocol, dtype: object
--------------------------------------------------
Column: description
0    "TMD-102T"
1    "TMD-111T"
2        "none"
3    "TMD-145T"
4        "none"
Name: description, dtype: object
--------------------------------------------------
Column: data_processing
0    "Expression levels were quantified by G2567AA ...
1    "Expression levels were quantified by G2567AA ...
2    "Expression levels were quantified by G2567AA ...
3    "Expression levels were quantified by G2567AA ...
4    "Expression levels were quantified by G2567AA ...
Name: data_processing, dtype: object
--------------------------------------------------
Column: platform_id
0    "GPL6480"
1    "GPL6480"
2    "GPL6480"
3    "GPL6480"
4    "GPL6480"
Name: platform_id, dtype: object
--------------------------------------------------
Column: contact_name
0    "Koshi,,Mimori"
1    "Koshi,,Mimori"
2    "Koshi,,Mimori"
3    "Koshi,,Mimori"
4    "Koshi,,Mimori"
Name: contact_name, dtype: object
--------------------------------------------------
Column: contact_email
0    "kmimori@beppu.kyushu-u.ac.jp"
1    "kmimori@beppu.kyushu-u.ac.jp"
2    "kmimori@beppu.kyushu-u.ac.jp"
3    "kmimori@beppu.kyushu-u.ac.jp"
4    "kmimori@beppu.kyushu-u.ac.jp"
Name: contact_email, dtype: object
--------------------------------------------------
Column: contact_phone
0    "81-977-27-1650"
1    "81-977-27-1650"
2    "81-977-27-1650"
3    "81-977-27-1650"
4    "81-977-27-1650"
Name: contact_phone, dtype: object
--------------------------------------------------
Column: contact_fax
0    "81-977-27-1651"
1    "81-977-27-1651"
2    "81-977-27-1651"
3    "81-977-27-1651"
4    "81-977-27-1651"
Name: contact_fax, dtype: object
--------------------------------------------------
Column: contact_laboratory
0    "Kyushu Univeristy Beppu Hospital"
1    "Kyushu Univeristy Beppu Hospital"
2    "Kyushu Univeristy Beppu Hospital"
3    "Kyushu Univeristy Beppu Hospital"
4    "Kyushu Univeristy Beppu Hospital"
Name: contact_laboratory, dtype: object
--------------------------------------------------
Column: contact_department
0    "Department of Surgery"
1    "Department of Surgery"
2    "Department of Surgery"
3    "Department of Surgery"
4    "Department of Surgery"
Name: contact_department, dtype: object
--------------------------------------------------
Column: contact_institute
0    "Kyushu university"
1    "Kyushu university"
2    "Kyushu university"
3    "Kyushu university"
4    "Kyushu university"
Name: contact_institute, dtype: object
--------------------------------------------------
Column: contact_address
0    "4546 Tsurumihara"
1    "4546 Tsurumihara"
2    "4546 Tsurumihara"
3    "4546 Tsurumihara"
4    "4546 Tsurumihara"
Name: contact_address, dtype: object
--------------------------------------------------
Column: contact_city
0    "Beppu"
1    "Beppu"
2    "Beppu"
3    "Beppu"
4    "Beppu"
Name: contact_city, dtype: object
--------------------------------------------------
Column: contact_state
0    "Oita"
1    "Oita"
2    "Oita"
3    "Oita"
4    "Oita"
Name: contact_state, dtype: object
--------------------------------------------------
Column: contact_zip/postal_code
0    "874-0838"
1    "874-0838"
2    "874-0838"
3    "874-0838"
4    "874-0838"
Name: contact_zip/postal_code, dtype: object
--------------------------------------------------
Column: contact_country
0    "Japan"
1    "Japan"
2    "Japan"
3    "Japan"
4    "Japan"
Name: contact_country, dtype: object
--------------------------------------------------
Column: supplementary_file
0    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...
1    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...
2    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...
3    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...
4    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...
Name: supplementary_file, dtype: object
--------------------------------------------------
Column: data_row_count
0    "41000"
1    "41000"
2    "41000"
3    "41000"
4    "41000"
Name: data_row_count, dtype: object
--------------------------------------------------

In [7]:
file_path = "GSE21815_series_matrix.txt"
data = pd.read_csv(file_path, sep="\t", comment="!", header=0)
print(data.head())

         ID_REF   GSM543123    GSM543124    GSM543125   GSM543126  \
0  A_23_P100001  318.534500   983.336060   941.858700  753.240540
1  A_23_P100011   52.670303    15.145210    12.862661  183.628190
2  A_23_P100022   26.220800    10.168971    15.440859   16.379416
3  A_23_P100056   24.889956     9.815201    14.016779   16.252570
4  A_23_P100074  709.746950  3287.309600  2226.580600  470.478180

     GSM543127    GSM543128    GSM543129   GSM543130    GSM543131  ...  \
0   740.541800   830.985700   820.866400  253.358080    94.853264  ...
1    16.069187    13.049668    39.704803    6.657159    22.191977  ...
2    29.971552    19.387800     3.145574    3.201703    11.334060  ...
3     3.773213     5.905363     2.943743    2.944624     7.400354  ...
4  1645.534400  1534.860600  2713.227300  636.860100  1590.249500  ...

     GSM543254   GSM543255    GSM543256   GSM543257    GSM543258    GSM543259  \
0   774.278260  225.843260   933.045530  735.847500   709.092300   740.836060
1    42.903324   24.803036     8.391995    5.274396     8.464316    16.690062
2    10.156180    6.667704     9.977000   27.677319     6.897274    20.830055
3     4.637189    2.527414     2.577005    3.776664     3.221462     3.217257
4  1243.635400  419.831600  1115.887500  732.079100  1030.158000  1030.164800

     GSM543260   GSM543261   GSM543262   GSM543263
0   862.868800  390.953770  222.944670   89.483760
1    19.789549   15.265101   15.430069   31.463722
2    25.690613   27.207232   18.940218   48.547432
3     7.025648    5.753796    2.505106    2.561174
4  1256.122700  744.793700  670.226500  251.792900

[5 rows x 142 columns]

In [8]:
data

,ID_REF,GSM543123,GSM543124,GSM543125,GSM543126,GSM543127,GSM543128,GSM543129,GSM543130,GSM543131,...,GSM543254,GSM543255,GSM543256,GSM543257,GSM543258,GSM543259,GSM543260,GSM543261,GSM543262,GSM543263
0,A_23_P100001,318.534500,983.336060,941.858700,753.240540,740.541800,830.985700,820.866400,253.358080,94.853264,...,774.278260,225.843260,933.045530,735.847500,709.092300,740.836060,862.868800,390.953770,222.944670,89.483760
1,A_23_P100011,52.670303,15.145210,12.862661,183.628190,16.069187,13.049668,39.704803,6.657159,22.191977,...,42.903324,24.803036,8.391995,5.274396,8.464316,16.690062,19.789549,15.265101,15.430069,31.463722
2,A_23_P100022,26.220800,10.168971,15.440859,16.379416,29.971552,19.387800,3.145574,3.201703,11.334060,...,10.156180,6.667704,9.977000,27.677319,6.897274,20.830055,25.690613,27.207232,18.940218,48.547432
3,A_23_P100056,24.889956,9.815201,14.016779,16.252570,3.773213,5.905363,2.943743,2.944624,7.400354,...,4.637189,2.527414,2.577005,3.776664,3.221462,3.217257,7.025648,5.753796,2.505106,2.561174
4,A_23_P100074,709.746950,3287.309600,2226.580600,470.478180,1645.534400,1534.860600,2713.227300,636.860100,1590.249500,...,1243.635400,419.831600,1115.887500,732.079100,1030.158000,1030.164800,1256.122700,744.793700,670.226500,251.792900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40995,A_32_P9986,24.552700,9.590750,14.535099,14.870501,3.760689,13.012791,2.944438,4.361080,2.417725,...,4.393808,5.562391,2.472742,7.361784,3.115923,3.157884,6.791829,5.597268,2.383881,2.032941
40996,A_32_P99864,22.688488,29.112078,31.475683,124.558400,31.599518,17.117733,20.281849,26.742893,27.055029,...,22.546640,14.713371,28.570726,20.871943,19.572495,20.334978,27.911260,17.423372,11.025971,15.442829
40997,A_32_P99902,139.142380,528.067900,511.196140,235.114260,568.173030,228.778580,499.461150,190.411470,338.149600,...,563.007570,68.829346,266.689480,175.737670,170.003140,230.241320,325.017520,239.026410,198.906590,163.409210
40998,A_32_P99933,24.050160,9.376528,13.628448,15.859659,53.939533,13.042359,10.923790,7.478898,4.077158,...,21.246643,17.147213,16.740498,23.826944,42.772200,27.837970,40.619080,22.472095,7.559063,5.742054
40999,A_32_P99942,24.666681,9.601794,14.014070,15.250080,3.638617,2.497702,2.909814,2.961052,2.398730,...,4.428840,2.492820,2.518009,2.876164,3.160544,3.106764,6.902172,5.767078,2.419862,2.128968

In [9]:
data.to_csv("GSE21815_gene_expression.csv", index=False)