In [1]:
import pandas as pd

In [2]:
#read all metadata
metadata_file = "GSE21815_metadata_all.csv" 
metadata = pd.read_csv(metadata_file)

In [3]:
metadata.describe()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,contact_laboratory,contact_department,contact_institute,contact_address,contact_city,contact_state,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
count,141,141,141,141,141,141,141,141,141,141,...,141,141,141,141,141,141,141,141,141,141
unique,141,141,1,1,2,1,1,2,1,9,...,1,1,1,1,1,1,1,1,141,1
top,"""CRC-1""","""GSM543123""","""Public on Sep 01 2011""","""May 13 2010""","""Jan 23 2012""","""RNA""","""1""","""colorectal cancer""","""Homo sapiens""","""""",...,"""Kyushu Univeristy Beppu Hospital""","""Department of Surgery""","""Kyushu university""","""4546 Tsurumihara""","""Beppu""","""Oita""","""874-0838""","""Japan""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...","""41000"""
freq,1,1,141,141,71,141,141,132,141,70,...,141,141,141,141,141,141,141,141,1,141

In [4]:
metadata.head()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,contact_laboratory,contact_department,contact_institute,contact_address,contact_city,contact_state,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
0,"""CRC-1""","""GSM543123""","""Public on Sep 01 2011""","""May 13 2010""","""Jan 23 2012""","""RNA""","""1""","""colorectal cancer""","""Homo sapiens""","""depth: pSE""",...,"""Kyushu Univeristy Beppu Hospital""","""Department of Surgery""","""Kyushu university""","""4546 Tsurumihara""","""Beppu""","""Oita""","""874-0838""","""Japan""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...","""41000"""
1,"""CRC-2""","""GSM543124""","""Public on Sep 01 2011""","""May 13 2010""","""Jan 23 2012""","""RNA""","""1""","""colorectal cancer""","""Homo sapiens""","""depth: pSS""",...,"""Kyushu Univeristy Beppu Hospital""","""Department of Surgery""","""Kyushu university""","""4546 Tsurumihara""","""Beppu""","""Oita""","""874-0838""","""Japan""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...","""41000"""
2,"""CRC-3""","""GSM543125""","""Public on Sep 01 2011""","""May 13 2010""","""Sep 01 2011""","""RNA""","""1""","""colorectal cancer""","""Homo sapiens""","""""",...,"""Kyushu Univeristy Beppu Hospital""","""Department of Surgery""","""Kyushu university""","""4546 Tsurumihara""","""Beppu""","""Oita""","""874-0838""","""Japan""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...","""41000"""
3,"""CRC-4""","""GSM543126""","""Public on Sep 01 2011""","""May 13 2010""","""Jan 23 2012""","""RNA""","""1""","""colorectal cancer""","""Homo sapiens""","""depth: pSM""",...,"""Kyushu Univeristy Beppu Hospital""","""Department of Surgery""","""Kyushu university""","""4546 Tsurumihara""","""Beppu""","""Oita""","""874-0838""","""Japan""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...","""41000"""
4,"""CRC-5""","""GSM543127""","""Public on Sep 01 2011""","""May 13 2010""","""Sep 01 2011""","""RNA""","""1""","""colorectal cancer""","""Homo sapiens""","""""",...,"""Kyushu Univeristy Beppu Hospital""","""Department of Surgery""","""Kyushu university""","""4546 Tsurumihara""","""Beppu""","""Oita""","""874-0838""","""Japan""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM543...","""41000"""

In [5]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    141 non-null    object
 1   geo_accession            141 non-null    object
 2   status                   141 non-null    object
 3   submission_date          141 non-null    object
 4   last_update_date         141 non-null    object
 5   type                     141 non-null    object
 6   channel_count            141 non-null    object
 7   source_name_ch1          141 non-null    object
 8   organism_ch1             141 non-null    object
 9   characteristics_ch1      141 non-null    object
 10  treatment_protocol_ch1   141 non-null    object
 11  molecule_ch1             141 non-null    object
 12  extract_protocol_ch1     141 non-null    object
 13  label_ch1                141 non-null    object
 14  label_protocol_ch1       141 non-null    object
 15  taxid_ch1                141 non-null    object
 16  hyb_protocol             141 non-null    object
 17  scan_protocol            141 non-null    object
 18  description              141 non-null    object
 19  data_processing          141 non-null    object
 20  platform_id              141 non-null    object
 21  contact_name             141 non-null    object
 22  contact_email            141 non-null    object
 23  contact_phone            141 non-null    object
 24  contact_fax              141 non-null    object
 25  contact_laboratory       141 non-null    object
 26  contact_department       141 non-null    object
 27  contact_institute        141 non-null    object
 28  contact_address          141 non-null    object
 29  contact_city             141 non-null    object
 30  contact_state            141 non-null    object
 31  contact_zip/postal_code  141 non-null    object
 32  contact_country          141 non-null    object
 33  supplementary_file       141 non-null    object
 34  data_row_count           141 non-null    object
dtypes: object(35)
memory usage: 38.7+ KB

In [6]:
metadata.shape

(141, 35)

In [7]:
metadata.columns

Index(['title', 'geo_accession', 'status', 'submission_date',
       'last_update_date', 'type', 'channel_count', 'source_name_ch1',
       'organism_ch1', 'characteristics_ch1', 'treatment_protocol_ch1',
       'molecule_ch1', 'extract_protocol_ch1', 'label_ch1',
       'label_protocol_ch1', 'taxid_ch1', 'hyb_protocol', 'scan_protocol',
       'description', 'data_processing', 'platform_id', 'contact_name',
       'contact_email', 'contact_phone', 'contact_fax', 'contact_laboratory',
       'contact_department', 'contact_institute', 'contact_address',
       'contact_city', 'contact_state', 'contact_zip/postal_code',
       'contact_country', 'supplementary_file', 'data_row_count'],
      dtype='object')

In [8]:
# List of columns to remove
columns_to_remove = [
    "title","status", "submission_date", "last_update_date", "type", "channel_count",
     "organism_ch1", "characteristics_ch1",'molecule_ch1',
       'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1',"treatment_protocol_ch1", 'taxid_ch1',
       'hyb_protocol', 'scan_protocol', 'description', 'data_processing', "platform_id",
    "contact_name", "contact_email",'contact_phone', "contact_institute", "contact_address",
    "contact_city", 'contact_state', "contact_zip/postal_code", "contact_country","contact_department",
    "contact_fax","contact_laboratory", "supplementary_file", "data_row_count"
]

metadata_cleaned = metadata.drop(columns=columns_to_remove, errors="ignore")

In [9]:
metadata_cleaned.head()

  geo_accession      source_name_ch1
0   "GSM543123"  "colorectal cancer"
1   "GSM543124"  "colorectal cancer"
2   "GSM543125"  "colorectal cancer"
3   "GSM543126"  "colorectal cancer"
4   "GSM543127"  "colorectal cancer"

In [10]:
metadata_cleaned.tail()

    geo_accession      source_name_ch1
136   "GSM543259"  "normal epithelium"
137   "GSM543260"  "normal epithelium"
138   "GSM543261"  "normal epithelium"
139   "GSM543262"  "normal epithelium"
140   "GSM543263"  "normal epithelium"

In [11]:
metadata_cleaned["target"] = metadata_cleaned["source_name_ch1"].str.extract(r"(normal|cancer)")

In [12]:
metadata_cleaned.head()

  geo_accession      source_name_ch1  target
0   "GSM543123"  "colorectal cancer"  cancer
1   "GSM543124"  "colorectal cancer"  cancer
2   "GSM543125"  "colorectal cancer"  cancer
3   "GSM543126"  "colorectal cancer"  cancer
4   "GSM543127"  "colorectal cancer"  cancer

In [13]:
metadata_cleaned.tail()

    geo_accession      source_name_ch1  target
136   "GSM543259"  "normal epithelium"  normal
137   "GSM543260"  "normal epithelium"  normal
138   "GSM543261"  "normal epithelium"  normal
139   "GSM543262"  "normal epithelium"  normal
140   "GSM543263"  "normal epithelium"  normal

In [14]:
metadata_cleaned

    geo_accession      source_name_ch1  target
0     "GSM543123"  "colorectal cancer"  cancer
1     "GSM543124"  "colorectal cancer"  cancer
2     "GSM543125"  "colorectal cancer"  cancer
3     "GSM543126"  "colorectal cancer"  cancer
4     "GSM543127"  "colorectal cancer"  cancer
..            ...                  ...     ...
136   "GSM543259"  "normal epithelium"  normal
137   "GSM543260"  "normal epithelium"  normal
138   "GSM543261"  "normal epithelium"  normal
139   "GSM543262"  "normal epithelium"  normal
140   "GSM543263"  "normal epithelium"  normal

[141 rows x 3 columns]

In [15]:
metadata_final = metadata_cleaned.drop(columns='source_name_ch1', errors="ignore")

In [16]:
metadata_final.head()

  geo_accession  target
0   "GSM543123"  cancer
1   "GSM543124"  cancer
2   "GSM543125"  cancer
3   "GSM543126"  cancer
4   "GSM543127"  cancer

In [17]:
# Remove quotes from the geo_accession column (it's the first column)
metadata_final.iloc[:, 0] = metadata_final.iloc[:, 0].str.replace('"', '', regex=False)

In [18]:
metadata_cleaned= metadata_final
metadata_cleaned.head()

  geo_accession  target
0     GSM543123  cancer
1     GSM543124  cancer
2     GSM543125  cancer
3     GSM543126  cancer
4     GSM543127  cancer

In [19]:
# Save the cleaned metadata
metadata_cleaned.to_csv("metadata_cleaned.csv", index=False)

print("Columns removed and saved as metadata_cleaned.csv")

Columns removed and saved as metadata_cleaned.csv