In [1]:
import pandas as pd
import re

In [2]:
#file path
file_path = "GSE110223_series_matrix.txt"

# Read the file, ignoring comment lines and extracting metadata
metadata = {}
with open(file_path, "r") as file:
    for line in file:
        if line.startswith("!Sample_"):
            key, values = line.split("\t", 1)
            key = key.replace("!Sample_", "").strip()
            values = values.strip().split("\t")
            metadata[key] = values

df_metadata_all = pd.DataFrame(metadata)

print(df_metadata_all.head())

                              title geo_accession                   status  \
0  "Patient_1_normal_rep1_HG-U133A"  "GSM2982906"  "Public on Dec 31 2018"
1  "Patient_1_cancer_rep1_HG-U133A"  "GSM2982907"  "Public on Dec 31 2018"
2  "Patient_2_normal_rep1_HG-U133A"  "GSM2982908"  "Public on Dec 31 2018"
3  "Patient_2_cancer_rep1_HG-U133A"  "GSM2982909"  "Public on Dec 31 2018"
4  "Patient_3_normal_rep1_HG-U133A"  "GSM2982910"  "Public on Dec 31 2018"

  submission_date last_update_date   type channel_count  \
0   "Feb 06 2018"    "Dec 31 2018"  "RNA"           "1"
1   "Feb 06 2018"    "Dec 31 2018"  "RNA"           "1"
2   "Feb 06 2018"    "Dec 31 2018"  "RNA"           "1"
3   "Feb 06 2018"    "Dec 31 2018"  "RNA"           "1"
4   "Feb 06 2018"    "Dec 31 2018"  "RNA"           "1"

                                 source_name_ch1    organism_ch1  \
0             "Patient 1 normal adjacent sample"  "Homo sapiens"
1  "Patient 1 primary colorectal adenocarcinoma"  "Homo sapiens"
2             "Patient 2 normal adjacent sample"  "Homo sapiens"
3  "Patient 2 primary colorectal adenocarcinoma"  "Homo sapiens"
4             "Patient 3 normal adjacent sample"  "Homo sapiens"

                      characteristics_ch1  ...  \
0  "inf pet variable values: 0.108206918"  ...
1  "inf pet variable values: 0.075522532"  ...
2  "inf pet variable values: 0.023751743"  ...
3  "inf pet variable values: 0.070156298"  ...
4  "inf pet variable values: 0.009517522"  ...

                           contact_laboratory  \
0  "Metabolic Engineering and Bioinformatics"
1  "Metabolic Engineering and Bioinformatics"
2  "Metabolic Engineering and Bioinformatics"
3  "Metabolic Engineering and Bioinformatics"
4  "Metabolic Engineering and Bioinformatics"

                                  contact_department  \
0  "Institute of Biology, Medicinal Chemistry and...
1  "Institute of Biology, Medicinal Chemistry and...
2  "Institute of Biology, Medicinal Chemistry and...
3  "Institute of Biology, Medicinal Chemistry and...
4  "Institute of Biology, Medicinal Chemistry and...

                         contact_institute  \
0  "National Hellenic Research Foundation"
1  "National Hellenic Research Foundation"
2  "National Hellenic Research Foundation"
3  "National Hellenic Research Foundation"
4  "National Hellenic Research Foundation"

                      contact_address contact_city contact_state  \
0  "48 Vassileos Constantinou Avenue"     "Athens"   "Not in US"
1  "48 Vassileos Constantinou Avenue"     "Athens"   "Not in US"
2  "48 Vassileos Constantinou Avenue"     "Athens"   "Not in US"
3  "48 Vassileos Constantinou Avenue"     "Athens"   "Not in US"
4  "48 Vassileos Constantinou Avenue"     "Athens"   "Not in US"

  contact_zip/postal_code contact_country  \
0                 "11635"        "Greece"
1                 "11635"        "Greece"
2                 "11635"        "Greece"
3                 "11635"        "Greece"
4                 "11635"        "Greece"

                                  supplementary_file data_row_count
0  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...        "22283"
1  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...        "22283"
2  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...        "22283"
3  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...        "22283"
4  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...        "22283"

[5 rows x 33 columns]

In [3]:
# Save the metadata DataFrame to a CSV file
df_metadata_all.to_csv("GSE110223_metadata_all.csv", index=False)

In [4]:
print(list(df_metadata_all.columns))

['title', 'geo_accession', 'status', 'submission_date', 'last_update_date', 'type', 'channel_count', 'source_name_ch1', 'organism_ch1', 'characteristics_ch1', 'molecule_ch1', 'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1', 'hyb_protocol', 'scan_protocol', 'description', 'data_processing', 'platform_id', 'contact_name', 'contact_email', 'contact_phone', 'contact_laboratory', 'contact_department', 'contact_institute', 'contact_address', 'contact_city', 'contact_state', 'contact_zip/postal_code', 'contact_country', 'supplementary_file', 'data_row_count']

In [5]:
df_metadata_all.tail()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,contact_laboratory,contact_department,contact_institute,contact_address,contact_city,contact_state,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
21,"""Patient_11_cancer_rep1_HG-U133A""","""GSM2982927""","""Public on Dec 31 2018""","""Feb 06 2018""","""Dec 31 2018""","""RNA""","""1""","""Patient 11 primary colorectal adenocarcinoma""","""Homo sapiens""","""inf pet variable values: 0.043676401""",...,"""Metabolic Engineering and Bioinformatics""","""Institute of Biology, Medicinal Chemistry and...","""National Hellenic Research Foundation""","""48 Vassileos Constantinou Avenue""","""Athens""","""Not in US""","""11635""","""Greece""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...","""22283"""
22,"""Patient_12_normal_rep1_HG-U133A""","""GSM2982928""","""Public on Dec 31 2018""","""Feb 06 2018""","""Dec 31 2018""","""RNA""","""1""","""Patient 12 normal adjacent sample""","""Homo sapiens""","""inf pet variable values: 0.022769482""",...,"""Metabolic Engineering and Bioinformatics""","""Institute of Biology, Medicinal Chemistry and...","""National Hellenic Research Foundation""","""48 Vassileos Constantinou Avenue""","""Athens""","""Not in US""","""11635""","""Greece""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...","""22283"""
23,"""Patient_12_cancer_rep1_HG-U133A""","""GSM2982929""","""Public on Dec 31 2018""","""Feb 06 2018""","""Dec 31 2018""","""RNA""","""1""","""Patient 12 primary colorectal adenocarcinoma""","""Homo sapiens""","""inf pet variable values: 0.009682194""",...,"""Metabolic Engineering and Bioinformatics""","""Institute of Biology, Medicinal Chemistry and...","""National Hellenic Research Foundation""","""48 Vassileos Constantinou Avenue""","""Athens""","""Not in US""","""11635""","""Greece""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...","""22283"""
24,"""Patient_13_normal_rep1_HG-U133A""","""GSM2982930""","""Public on Dec 31 2018""","""Feb 06 2018""","""Dec 31 2018""","""RNA""","""1""","""Patient 13 normal adjacent sample""","""Homo sapiens""","""inf pet variable values: 0.046271638""",...,"""Metabolic Engineering and Bioinformatics""","""Institute of Biology, Medicinal Chemistry and...","""National Hellenic Research Foundation""","""48 Vassileos Constantinou Avenue""","""Athens""","""Not in US""","""11635""","""Greece""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...","""22283"""
25,"""Patient_13_cancer_rep1_HG-U133A""","""GSM2982931""","""Public on Dec 31 2018""","""Feb 06 2018""","""Dec 31 2018""","""RNA""","""1""","""Patient 13 primary colorectal adenocarcinoma""","""Homo sapiens""","""inf pet variable values: 0.104062408""",...,"""Metabolic Engineering and Bioinformatics""","""Institute of Biology, Medicinal Chemistry and...","""National Hellenic Research Foundation""","""48 Vassileos Constantinou Avenue""","""Athens""","""Not in US""","""11635""","""Greece""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...","""22283"""

In [6]:
for col in df_metadata_all.columns:
    print(f"Column: {col}")
    print(df_metadata_all[col].head())  # Show first few values of each column
    print("-" * 50)

Column: title
0    "Patient_1_normal_rep1_HG-U133A"
1    "Patient_1_cancer_rep1_HG-U133A"
2    "Patient_2_normal_rep1_HG-U133A"
3    "Patient_2_cancer_rep1_HG-U133A"
4    "Patient_3_normal_rep1_HG-U133A"
Name: title, dtype: object
--------------------------------------------------
Column: geo_accession
0    "GSM2982906"
1    "GSM2982907"
2    "GSM2982908"
3    "GSM2982909"
4    "GSM2982910"
Name: geo_accession, dtype: object
--------------------------------------------------
Column: status
0    "Public on Dec 31 2018"
1    "Public on Dec 31 2018"
2    "Public on Dec 31 2018"
3    "Public on Dec 31 2018"
4    "Public on Dec 31 2018"
Name: status, dtype: object
--------------------------------------------------
Column: submission_date
0    "Feb 06 2018"
1    "Feb 06 2018"
2    "Feb 06 2018"
3    "Feb 06 2018"
4    "Feb 06 2018"
Name: submission_date, dtype: object
--------------------------------------------------
Column: last_update_date
0    "Dec 31 2018"
1    "Dec 31 2018"
2    "Dec 31 2018"
3    "Dec 31 2018"
4    "Dec 31 2018"
Name: last_update_date, dtype: object
--------------------------------------------------
Column: type
0    "RNA"
1    "RNA"
2    "RNA"
3    "RNA"
4    "RNA"
Name: type, dtype: object
--------------------------------------------------
Column: channel_count
0    "1"
1    "1"
2    "1"
3    "1"
4    "1"
Name: channel_count, dtype: object
--------------------------------------------------
Column: source_name_ch1
0               "Patient 1 normal adjacent sample"
1    "Patient 1 primary colorectal adenocarcinoma"
2               "Patient 2 normal adjacent sample"
3    "Patient 2 primary colorectal adenocarcinoma"
4               "Patient 3 normal adjacent sample"
Name: source_name_ch1, dtype: object
--------------------------------------------------
Column: organism_ch1
0    "Homo sapiens"
1    "Homo sapiens"
2    "Homo sapiens"
3    "Homo sapiens"
4    "Homo sapiens"
Name: organism_ch1, dtype: object
--------------------------------------------------
Column: characteristics_ch1
0    "inf pet variable values: 0.108206918"
1    "inf pet variable values: 0.075522532"
2    "inf pet variable values: 0.023751743"
3    "inf pet variable values: 0.070156298"
4    "inf pet variable values: 0.009517522"
Name: characteristics_ch1, dtype: object
--------------------------------------------------
Column: molecule_ch1
0    "total RNA"
1    "total RNA"
2    "total RNA"
3    "total RNA"
4    "total RNA"
Name: molecule_ch1, dtype: object
--------------------------------------------------
Column: extract_protocol_ch1
0    "Total RNA was extracted by Rneasy kit (Qiagen...
1    "Total RNA was extracted by Rneasy kit (Qiagen...
2    "Total RNA was extracted by Rneasy kit (Qiagen...
3    "Total RNA was extracted by Rneasy kit (Qiagen...
4    "Total RNA was extracted by Rneasy kit (Qiagen...
Name: extract_protocol_ch1, dtype: object
--------------------------------------------------
Column: label_ch1
0    "biotin"
1    "biotin"
2    "biotin"
3    "biotin"
4    "biotin"
Name: label_ch1, dtype: object
--------------------------------------------------
Column: label_protocol_ch1
0    "Biotinylated cRNA were prepared according to ...
1    "Biotinylated cRNA were prepared according to ...
2    "Biotinylated cRNA were prepared according to ...
3    "Biotinylated cRNA were prepared according to ...
4    "Biotinylated cRNA were prepared according to ...
Name: label_protocol_ch1, dtype: object
--------------------------------------------------
Column: taxid_ch1
0    "9606"
1    "9606"
2    "9606"
3    "9606"
4    "9606"
Name: taxid_ch1, dtype: object
--------------------------------------------------
Column: hyb_protocol
0    "Affymetrix HG-U133A GeneChip arrays hybridiza...
1    "Affymetrix HG-U133A GeneChip arrays hybridiza...
2    "Affymetrix HG-U133A GeneChip arrays hybridiza...
3    "Affymetrix HG-U133A GeneChip arrays hybridiza...
4    "Affymetrix HG-U133A GeneChip arrays hybridiza...
Name: hyb_protocol, dtype: object
--------------------------------------------------
Column: scan_protocol
0    "GeneChips were scanned using the Hewlett-Pack...
1    "GeneChips were scanned using the Hewlett-Pack...
2    "GeneChips were scanned using the Hewlett-Pack...
3    "GeneChips were scanned using the Hewlett-Pack...
4    "GeneChips were scanned using the Hewlett-Pack...
Name: scan_protocol, dtype: object
--------------------------------------------------
Column: description
0    "INF = (k1*k3)/(k2+k3)"
1    "INF = (k1*k3)/(k2+k3)"
2    "INF = (k1*k3)/(k2+k3)"
3    "INF = (k1*k3)/(k2+k3)"
4    "INF = (k1*k3)/(k2+k3)"
Name: description, dtype: object
--------------------------------------------------
Column: data_processing
0    "The data were analyzed with Rstudio console u...
1    "The data were analyzed with Rstudio console u...
2    "The data were analyzed with Rstudio console u...
3    "The data were analyzed with Rstudio console u...
4    "The data were analyzed with Rstudio console u...
Name: data_processing, dtype: object
--------------------------------------------------
Column: platform_id
0    "GPL96"
1    "GPL96"
2    "GPL96"
3    "GPL96"
4    "GPL96"
Name: platform_id, dtype: object
--------------------------------------------------
Column: contact_name
0    "Aristotelis,,Chatziioannou"
1    "Aristotelis,,Chatziioannou"
2    "Aristotelis,,Chatziioannou"
3    "Aristotelis,,Chatziioannou"
4    "Aristotelis,,Chatziioannou"
Name: contact_name, dtype: object
--------------------------------------------------
Column: contact_email
0    "achatzi@eie.gr"
1    "achatzi@eie.gr"
2    "achatzi@eie.gr"
3    "achatzi@eie.gr"
4    "achatzi@eie.gr"
Name: contact_email, dtype: object
--------------------------------------------------
Column: contact_phone
0    "00302107273751"
1    "00302107273751"
2    "00302107273751"
3    "00302107273751"
4    "00302107273751"
Name: contact_phone, dtype: object
--------------------------------------------------
Column: contact_laboratory
0    "Metabolic Engineering and Bioinformatics"
1    "Metabolic Engineering and Bioinformatics"
2    "Metabolic Engineering and Bioinformatics"
3    "Metabolic Engineering and Bioinformatics"
4    "Metabolic Engineering and Bioinformatics"
Name: contact_laboratory, dtype: object
--------------------------------------------------
Column: contact_department
0    "Institute of Biology, Medicinal Chemistry and...
1    "Institute of Biology, Medicinal Chemistry and...
2    "Institute of Biology, Medicinal Chemistry and...
3    "Institute of Biology, Medicinal Chemistry and...
4    "Institute of Biology, Medicinal Chemistry and...
Name: contact_department, dtype: object
--------------------------------------------------
Column: contact_institute
0    "National Hellenic Research Foundation"
1    "National Hellenic Research Foundation"
2    "National Hellenic Research Foundation"
3    "National Hellenic Research Foundation"
4    "National Hellenic Research Foundation"
Name: contact_institute, dtype: object
--------------------------------------------------
Column: contact_address
0    "48 Vassileos Constantinou Avenue"
1    "48 Vassileos Constantinou Avenue"
2    "48 Vassileos Constantinou Avenue"
3    "48 Vassileos Constantinou Avenue"
4    "48 Vassileos Constantinou Avenue"
Name: contact_address, dtype: object
--------------------------------------------------
Column: contact_city
0    "Athens"
1    "Athens"
2    "Athens"
3    "Athens"
4    "Athens"
Name: contact_city, dtype: object
--------------------------------------------------
Column: contact_state
0    "Not in US"
1    "Not in US"
2    "Not in US"
3    "Not in US"
4    "Not in US"
Name: contact_state, dtype: object
--------------------------------------------------
Column: contact_zip/postal_code
0    "11635"
1    "11635"
2    "11635"
3    "11635"
4    "11635"
Name: contact_zip/postal_code, dtype: object
--------------------------------------------------
Column: contact_country
0    "Greece"
1    "Greece"
2    "Greece"
3    "Greece"
4    "Greece"
Name: contact_country, dtype: object
--------------------------------------------------
Column: supplementary_file
0    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...
1    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...
2    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...
3    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...
4    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...
Name: supplementary_file, dtype: object
--------------------------------------------------
Column: data_row_count
0    "22283"
1    "22283"
2    "22283"
3    "22283"
4    "22283"
Name: data_row_count, dtype: object
--------------------------------------------------

In [7]:
file_path = "GSE110223_series_matrix.txt"
data = pd.read_csv(file_path, sep="\t", comment="!", header=0)
print(data.head())

      ID_REF  GSM2982906  GSM2982907  GSM2982908  GSM2982909  GSM2982910  \
0  1007_s_at   10.981913   11.359342   11.325435   11.583843   10.813378
1    1053_at    7.121822    7.225962    6.642123    7.765054    7.214531
2     117_at    7.026647    7.447902    6.946479    6.925811    7.143869
3     121_at    9.543958    9.821747    9.340822    9.434112    9.442589
4  1255_g_at    5.183468    5.098738    4.990762    5.145028    4.989315

   GSM2982911  GSM2982912  GSM2982913  GSM2982914  ...  GSM2982922  \
0   11.442406   11.092462   11.230055   11.295979  ...   11.245841
1    7.495679    6.960968    7.460269    7.241513  ...    7.446771
2    7.400929    6.731856    7.017839    7.188231  ...    6.864370
3    9.541356    9.273043    9.286517    9.357498  ...    9.427946
4    5.157221    5.080318    5.225320    4.946595  ...    5.023326

   GSM2982923  GSM2982924  GSM2982925  GSM2982926  GSM2982927  GSM2982928  \
0   11.547810   11.344119   10.986010   11.305615   11.822991   11.307087
1    6.717592    6.775921    7.684910    7.104790    7.821112    7.311229
2    7.155862    6.838016    6.731926    6.974931    7.448243    6.852513
3    9.660555    9.646216    9.775626    9.629003    9.332026    9.883020
4    5.104267    5.100132    5.015026    4.918704    4.977744    5.029548

   GSM2982929  GSM2982930  GSM2982931
0   11.166069   11.312115   11.122565
1    7.564276    6.916548    7.228717
2    6.813778    7.195046    7.236917
3    9.958453    9.309942    8.931002
4    5.029573    4.902808    5.060148

[5 rows x 27 columns]

In [8]:
data

,ID_REF,GSM2982906,GSM2982907,GSM2982908,GSM2982909,GSM2982910,GSM2982911,GSM2982912,GSM2982913,GSM2982914,...,GSM2982922,GSM2982923,GSM2982924,GSM2982925,GSM2982926,GSM2982927,GSM2982928,GSM2982929,GSM2982930,GSM2982931
0,1007_s_at,10.981913,11.359342,11.325435,11.583843,10.813378,11.442406,11.092462,11.230055,11.295979,...,11.245841,11.547810,11.344119,10.986010,11.305615,11.822991,11.307087,11.166069,11.312115,11.122565
1,1053_at,7.121822,7.225962,6.642123,7.765054,7.214531,7.495679,6.960968,7.460269,7.241513,...,7.446771,6.717592,6.775921,7.684910,7.104790,7.821112,7.311229,7.564276,6.916548,7.228717
2,117_at,7.026647,7.447902,6.946479,6.925811,7.143869,7.400929,6.731856,7.017839,7.188231,...,6.864370,7.155862,6.838016,6.731926,6.974931,7.448243,6.852513,6.813778,7.195046,7.236917
3,121_at,9.543958,9.821747,9.340822,9.434112,9.442589,9.541356,9.273043,9.286517,9.357498,...,9.427946,9.660555,9.646216,9.775626,9.629003,9.332026,9.883020,9.958453,9.309942,8.931002
4,1255_g_at,5.183468,5.098738,4.990762,5.145028,4.989315,5.157221,5.080318,5.225320,4.946595,...,5.023326,5.104267,5.100132,5.015026,4.918704,4.977744,5.029548,5.029573,4.902808,5.060148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22278,AFFX-ThrX-5_at,5.917101,6.070049,5.877082,5.822408,5.970224,5.989828,5.604455,5.844594,5.824019,...,5.828123,6.070027,5.847064,5.812727,5.774904,5.486796,5.772556,5.972288,5.808079,5.723170
22279,AFFX-ThrX-M_at,5.182251,5.280959,4.918133,5.004854,5.202781,5.085313,4.891907,5.001799,5.061981,...,5.008300,5.138201,5.062651,5.025194,4.959282,5.046467,5.034552,5.002677,5.115591,4.864729
22280,AFFX-TrpnX-3_at,4.769223,4.733632,4.731282,4.666350,4.775682,4.742509,4.755688,4.724745,4.758381,...,4.883116,4.941410,4.951432,4.846153,4.821734,4.742054,4.580443,4.654886,4.771788,4.756040
22281,AFFX-TrpnX-5_at,5.215530,5.187577,5.143041,5.261319,5.204750,5.237287,5.116049,5.119567,5.243917,...,5.177863,5.389919,5.270508,5.260690,5.207407,5.272036,5.078156,5.234365,5.190621,5.188032
22282,AFFX-TrpnX-M_at,5.344571,5.420283,5.379817,5.413140,5.435825,5.464861,5.272317,5.305506,5.372583,...,5.347490,5.443664,5.478429,5.329778,5.449547,5.266226,5.274298,5.307209,5.547525,5.335920

In [9]:
data.to_csv("GSE110223_gene_expression.csv", index=False)