In [1]:
import pandas as pd

In [2]:
#read all metadata
metadata_file = "GSE110223_metadata_all.csv" 
metadata = pd.read_csv(metadata_file)

In [3]:
metadata.describe()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,contact_laboratory,contact_department,contact_institute,contact_address,contact_city,contact_state,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
count,26,26,26,26,26,26,26,26,26,26,...,26,26,26,26,26,26,26,26,26,26
unique,26,26,1,1,1,1,1,26,1,26,...,1,1,1,1,1,1,1,1,26,1
top,"""Patient_1_normal_rep1_HG-U133A""","""GSM2982906""","""Public on Dec 31 2018""","""Feb 06 2018""","""Dec 31 2018""","""RNA""","""1""","""Patient 1 normal adjacent sample""","""Homo sapiens""","""inf pet variable values: 0.108206918""",...,"""Metabolic Engineering and Bioinformatics""","""Institute of Biology, Medicinal Chemistry and...","""National Hellenic Research Foundation""","""48 Vassileos Constantinou Avenue""","""Athens""","""Not in US""","""11635""","""Greece""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...","""22283"""
freq,1,1,26,26,26,26,26,1,26,1,...,26,26,26,26,26,26,26,26,1,26

In [4]:
metadata.head()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,contact_laboratory,contact_department,contact_institute,contact_address,contact_city,contact_state,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
0,"""Patient_1_normal_rep1_HG-U133A""","""GSM2982906""","""Public on Dec 31 2018""","""Feb 06 2018""","""Dec 31 2018""","""RNA""","""1""","""Patient 1 normal adjacent sample""","""Homo sapiens""","""inf pet variable values: 0.108206918""",...,"""Metabolic Engineering and Bioinformatics""","""Institute of Biology, Medicinal Chemistry and...","""National Hellenic Research Foundation""","""48 Vassileos Constantinou Avenue""","""Athens""","""Not in US""","""11635""","""Greece""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...","""22283"""
1,"""Patient_1_cancer_rep1_HG-U133A""","""GSM2982907""","""Public on Dec 31 2018""","""Feb 06 2018""","""Dec 31 2018""","""RNA""","""1""","""Patient 1 primary colorectal adenocarcinoma""","""Homo sapiens""","""inf pet variable values: 0.075522532""",...,"""Metabolic Engineering and Bioinformatics""","""Institute of Biology, Medicinal Chemistry and...","""National Hellenic Research Foundation""","""48 Vassileos Constantinou Avenue""","""Athens""","""Not in US""","""11635""","""Greece""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...","""22283"""
2,"""Patient_2_normal_rep1_HG-U133A""","""GSM2982908""","""Public on Dec 31 2018""","""Feb 06 2018""","""Dec 31 2018""","""RNA""","""1""","""Patient 2 normal adjacent sample""","""Homo sapiens""","""inf pet variable values: 0.023751743""",...,"""Metabolic Engineering and Bioinformatics""","""Institute of Biology, Medicinal Chemistry and...","""National Hellenic Research Foundation""","""48 Vassileos Constantinou Avenue""","""Athens""","""Not in US""","""11635""","""Greece""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...","""22283"""
3,"""Patient_2_cancer_rep1_HG-U133A""","""GSM2982909""","""Public on Dec 31 2018""","""Feb 06 2018""","""Dec 31 2018""","""RNA""","""1""","""Patient 2 primary colorectal adenocarcinoma""","""Homo sapiens""","""inf pet variable values: 0.070156298""",...,"""Metabolic Engineering and Bioinformatics""","""Institute of Biology, Medicinal Chemistry and...","""National Hellenic Research Foundation""","""48 Vassileos Constantinou Avenue""","""Athens""","""Not in US""","""11635""","""Greece""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...","""22283"""
4,"""Patient_3_normal_rep1_HG-U133A""","""GSM2982910""","""Public on Dec 31 2018""","""Feb 06 2018""","""Dec 31 2018""","""RNA""","""1""","""Patient 3 normal adjacent sample""","""Homo sapiens""","""inf pet variable values: 0.009517522""",...,"""Metabolic Engineering and Bioinformatics""","""Institute of Biology, Medicinal Chemistry and...","""National Hellenic Research Foundation""","""48 Vassileos Constantinou Avenue""","""Athens""","""Not in US""","""11635""","""Greece""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM298...","""22283"""

In [5]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    26 non-null     object
 1   geo_accession            26 non-null     object
 2   status                   26 non-null     object
 3   submission_date          26 non-null     object
 4   last_update_date         26 non-null     object
 5   type                     26 non-null     object
 6   channel_count            26 non-null     object
 7   source_name_ch1          26 non-null     object
 8   organism_ch1             26 non-null     object
 9   characteristics_ch1      26 non-null     object
 10  molecule_ch1             26 non-null     object
 11  extract_protocol_ch1     26 non-null     object
 12  label_ch1                26 non-null     object
 13  label_protocol_ch1       26 non-null     object
 14  taxid_ch1                26 non-null     object
 15  hyb_protocol             26 non-null     object
 16  scan_protocol            26 non-null     object
 17  description              26 non-null     object
 18  data_processing          26 non-null     object
 19  platform_id              26 non-null     object
 20  contact_name             26 non-null     object
 21  contact_email            26 non-null     object
 22  contact_phone            26 non-null     object
 23  contact_laboratory       26 non-null     object
 24  contact_department       26 non-null     object
 25  contact_institute        26 non-null     object
 26  contact_address          26 non-null     object
 27  contact_city             26 non-null     object
 28  contact_state            26 non-null     object
 29  contact_zip/postal_code  26 non-null     object
 30  contact_country          26 non-null     object
 31  supplementary_file       26 non-null     object
 32  data_row_count           26 non-null     object
dtypes: object(33)
memory usage: 6.8+ KB

In [6]:
metadata.shape

(26, 33)

In [7]:
metadata.columns

Index(['title', 'geo_accession', 'status', 'submission_date',
       'last_update_date', 'type', 'channel_count', 'source_name_ch1',
       'organism_ch1', 'characteristics_ch1', 'molecule_ch1',
       'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1',
       'hyb_protocol', 'scan_protocol', 'description', 'data_processing',
       'platform_id', 'contact_name', 'contact_email', 'contact_phone',
       'contact_laboratory', 'contact_department', 'contact_institute',
       'contact_address', 'contact_city', 'contact_state',
       'contact_zip/postal_code', 'contact_country', 'supplementary_file',
       'data_row_count'],
      dtype='object')

In [8]:
# List of columns to remove
columns_to_remove = [
    "title","status", "submission_date", "last_update_date", "type", "channel_count",
    'organism_ch1', 'characteristics_ch1', 'molecule_ch1',
       'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1',
       'hyb_protocol', 'scan_protocol', 'description', 'data_processing',
       'platform_id', 'contact_name', 'contact_email', 'contact_phone',
       'contact_laboratory', 'contact_department', 'contact_institute',
       'contact_address', 'contact_city', 'contact_state',
       'contact_zip/postal_code', 'contact_country', 'supplementary_file',
       'data_row_count'
]

metadata_cleaned = metadata.drop(columns=columns_to_remove, errors="ignore")

In [9]:
metadata_cleaned.head()

  geo_accession                                source_name_ch1
0  "GSM2982906"             "Patient 1 normal adjacent sample"
1  "GSM2982907"  "Patient 1 primary colorectal adenocarcinoma"
2  "GSM2982908"             "Patient 2 normal adjacent sample"
3  "GSM2982909"  "Patient 2 primary colorectal adenocarcinoma"
4  "GSM2982910"             "Patient 3 normal adjacent sample"

In [10]:
metadata_cleaned.tail()

   geo_accession                                 source_name_ch1
21  "GSM2982927"  "Patient 11 primary colorectal adenocarcinoma"
22  "GSM2982928"             "Patient 12 normal adjacent sample"
23  "GSM2982929"  "Patient 12 primary colorectal adenocarcinoma"
24  "GSM2982930"             "Patient 13 normal adjacent sample"
25  "GSM2982931"  "Patient 13 primary colorectal adenocarcinoma"

In [11]:
metadata_cleaned["target"] = metadata_cleaned["source_name_ch1"].str.extract(r"(normal|colorectal)")

In [12]:
metadata_cleaned.head()

  geo_accession                                source_name_ch1      target
0  "GSM2982906"             "Patient 1 normal adjacent sample"      normal
1  "GSM2982907"  "Patient 1 primary colorectal adenocarcinoma"  colorectal
2  "GSM2982908"             "Patient 2 normal adjacent sample"      normal
3  "GSM2982909"  "Patient 2 primary colorectal adenocarcinoma"  colorectal
4  "GSM2982910"             "Patient 3 normal adjacent sample"      normal

In [13]:
metadata_cleaned.tail()

   geo_accession                                 source_name_ch1      target
21  "GSM2982927"  "Patient 11 primary colorectal adenocarcinoma"  colorectal
22  "GSM2982928"             "Patient 12 normal adjacent sample"      normal
23  "GSM2982929"  "Patient 12 primary colorectal adenocarcinoma"  colorectal
24  "GSM2982930"             "Patient 13 normal adjacent sample"      normal
25  "GSM2982931"  "Patient 13 primary colorectal adenocarcinoma"  colorectal

In [14]:
metadata_cleaned

   geo_accession                                 source_name_ch1      target
0   "GSM2982906"              "Patient 1 normal adjacent sample"      normal
1   "GSM2982907"   "Patient 1 primary colorectal adenocarcinoma"  colorectal
2   "GSM2982908"              "Patient 2 normal adjacent sample"      normal
3   "GSM2982909"   "Patient 2 primary colorectal adenocarcinoma"  colorectal
4   "GSM2982910"              "Patient 3 normal adjacent sample"      normal
5   "GSM2982911"   "Patient 3 primary colorectal adenocarcinoma"  colorectal
6   "GSM2982912"              "Patient 4 normal adjacent sample"      normal
7   "GSM2982913"   "Patient 4 primary colorectal adenocarcinoma"  colorectal
8   "GSM2982914"              "Patient 5 normal adjacent sample"      normal
9   "GSM2982915"   "Patient 5 primary colorectal adenocarcinoma"  colorectal
10  "GSM2982916"              "Patient 6 normal adjacent sample"      normal
11  "GSM2982917"   "Patient 6 primary colorectal adenocarcinoma"  colorectal
12  "GSM2982918"              "Patient 7 normal adjacent sample"      normal
13  "GSM2982919"    "Patient 7primary colorectal adenocarcinoma"  colorectal
14  "GSM2982920"              "Patient 8 normal adjacent sample"      normal
15  "GSM2982921"   "Patient 8 primary colorectal adenocarcinoma"  colorectal
16  "GSM2982922"              "Patient 9 normal adjacent sample"      normal
17  "GSM2982923"   "Patient 9 primary colorectal adenocarcinoma"  colorectal
18  "GSM2982924"             "Patient 10 normal adjacent sample"      normal
19  "GSM2982925"  "Patient 10 primary colorectal adenocarcinoma"  colorectal
20  "GSM2982926"             "Patient 11 normal adjacent sample"      normal
21  "GSM2982927"  "Patient 11 primary colorectal adenocarcinoma"  colorectal
22  "GSM2982928"             "Patient 12 normal adjacent sample"      normal
23  "GSM2982929"  "Patient 12 primary colorectal adenocarcinoma"  colorectal
24  "GSM2982930"             "Patient 13 normal adjacent sample"      normal
25  "GSM2982931"  "Patient 13 primary colorectal adenocarcinoma"  colorectal

In [15]:
metadata_final = metadata_cleaned.drop(columns='source_name_ch1', errors="ignore")

In [16]:
metadata_final.head()

  geo_accession      target
0  "GSM2982906"      normal
1  "GSM2982907"  colorectal
2  "GSM2982908"      normal
3  "GSM2982909"  colorectal
4  "GSM2982910"      normal

In [17]:
# Remove quotes from the geo_accession column (it's the first column)
metadata_final.iloc[:, 0] = metadata_final.iloc[:, 0].str.replace('"', '', regex=False)

In [18]:
metadata_cleaned= metadata_final
metadata_cleaned.head()

  geo_accession      target
0    GSM2982906      normal
1    GSM2982907  colorectal
2    GSM2982908      normal
3    GSM2982909  colorectal
4    GSM2982910      normal

In [19]:
# Save the cleaned metadata
metadata_cleaned.to_csv("metadata_cleaned.csv", index=False)

print("Columns removed and saved as metadata_cleaned.csv")

Columns removed and saved as metadata_cleaned.csv