In [1]:
import pandas as pd
import re

In [2]:
#file path
file_path = "GSE41328_series_matrix.txt"

# Read the file, ignoring comment lines and extracting metadata
metadata = {}
with open(file_path, "r") as file:
    for line in file:
        if line.startswith("!Sample_"):
            key, values = line.split("\t", 1)
            key = key.replace("!Sample_", "").strip()
            values = values.strip().split("\t")
            metadata[key] = values

df_metadata_all = pd.DataFrame(metadata)

print(df_metadata_all.head())

                                               title geo_accession  \
0  "AFX platform, lab 1, matched normal colon tis...  "GSM1014798"
1  "AFX platform, lab 1, matched normal colon tis...  "GSM1014799"
2  "AFX platform, lab 1, matched normal colon tis...  "GSM1014800"
3  "AFX platform, lab 1, matched normal colon tis...  "GSM1014801"
4  "AFX platform, lab 1, matched normal colon tis...  "GSM1014802"

                    status submission_date last_update_date   type  \
0  "Public on Oct 03 2012"   "Oct 03 2012"    "Oct 03 2012"  "RNA"
1  "Public on Oct 03 2012"   "Oct 03 2012"    "Oct 03 2012"  "RNA"
2  "Public on Oct 03 2012"   "Oct 03 2012"    "Oct 03 2012"  "RNA"
3  "Public on Oct 03 2012"   "Oct 03 2012"    "Oct 03 2012"  "RNA"
4  "Public on Oct 03 2012"   "Oct 03 2012"    "Oct 03 2012"  "RNA"

  channel_count                                    source_name_ch1  \
0           "1"  "Sample type N (Normal, matched normal colon t...
1           "1"  "Sample type N (Normal, matched normal colon t...
2           "1"  "Sample type N (Normal, matched normal colon t...
3           "1"  "Sample type N (Normal, matched normal colon t...
4           "1"  "Sample type N (Normal, matched normal colon t...

     organism_ch1 characteristics_ch1  ...           contact_email  \
0  "Homo sapiens"            "lab: 1"  ...  "cchen63@illinois.edu"
1  "Homo sapiens"            "lab: 1"  ...  "cchen63@illinois.edu"
2  "Homo sapiens"            "lab: 1"  ...  "cchen63@illinois.edu"
3  "Homo sapiens"            "lab: 1"  ...  "cchen63@illinois.edu"
4  "Homo sapiens"            "lab: 1"  ...  "cchen63@illinois.edu"

  contact_department         contact_institute            contact_address  \
0   "Bioengineering"  "University of illinois"  "1206 West Gregory Drive"
1   "Bioengineering"  "University of illinois"  "1206 West Gregory Drive"
2   "Bioengineering"  "University of illinois"  "1206 West Gregory Drive"
3   "Bioengineering"  "University of illinois"  "1206 West Gregory Drive"
4   "Bioengineering"  "University of illinois"  "1206 West Gregory Drive"

  contact_city contact_state contact_zip/postal_code contact_country  \
0     "Urbana"    "Illinois"                 "61801"           "USA"
1     "Urbana"    "Illinois"                 "61801"           "USA"
2     "Urbana"    "Illinois"                 "61801"           "USA"
3     "Urbana"    "Illinois"                 "61801"           "USA"
4     "Urbana"    "Illinois"                 "61801"           "USA"

                                  supplementary_file data_row_count
0  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...        "54675"
1  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...        "54675"
2  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...        "54675"
3  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...        "54675"
4  "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...        "54675"

[5 rows x 31 columns]

In [3]:
# Save the metadata DataFrame to a CSV file
df_metadata_all.to_csv("GSE41328_metadata_all.csv", index=False)

In [4]:
print(list(df_metadata_all.columns))

['title', 'geo_accession', 'status', 'submission_date', 'last_update_date', 'type', 'channel_count', 'source_name_ch1', 'organism_ch1', 'characteristics_ch1', 'molecule_ch1', 'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1', 'hyb_protocol', 'scan_protocol', 'description', 'data_processing', 'platform_id', 'contact_name', 'contact_email', 'contact_department', 'contact_institute', 'contact_address', 'contact_city', 'contact_state', 'contact_zip/postal_code', 'contact_country', 'supplementary_file', 'data_row_count']

In [5]:
df_metadata_all.tail()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,contact_email,contact_department,contact_institute,contact_address,contact_city,contact_state,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
15,"""AFX platform, lab 2, tumor, colon adenocarcin...","""GSM1014813""","""Public on Oct 03 2012""","""Oct 03 2012""","""Oct 03 2012""","""RNA""","""1""","""Sample type T (Tumor, colon adenocarcinoma)""","""Homo sapiens""","""lab: 2""",...,"""cchen63@illinois.edu""","""Bioengineering""","""University of illinois""","""1206 West Gregory Drive""","""Urbana""","""Illinois""","""61801""","""USA""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...","""54675"""
16,"""AFX platform, lab 2, tumor, colon adenocarcin...","""GSM1014814""","""Public on Oct 03 2012""","""Oct 03 2012""","""Oct 03 2012""","""RNA""","""1""","""Sample type T (Tumor, colon adenocarcinoma)""","""Homo sapiens""","""lab: 2""",...,"""cchen63@illinois.edu""","""Bioengineering""","""University of illinois""","""1206 West Gregory Drive""","""Urbana""","""Illinois""","""61801""","""USA""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...","""54675"""
17,"""AFX platform, lab 2, tumor, colon adenocarcin...","""GSM1014815""","""Public on Oct 03 2012""","""Oct 03 2012""","""Oct 03 2012""","""RNA""","""1""","""Sample type T (Tumor, colon adenocarcinoma)""","""Homo sapiens""","""lab: 2""",...,"""cchen63@illinois.edu""","""Bioengineering""","""University of illinois""","""1206 West Gregory Drive""","""Urbana""","""Illinois""","""61801""","""USA""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...","""54675"""
18,"""AFX platform, lab 2, tumor, colon adenocarcin...","""GSM1014816""","""Public on Oct 03 2012""","""Oct 03 2012""","""Oct 03 2012""","""RNA""","""1""","""Sample type T (Tumor, colon adenocarcinoma)""","""Homo sapiens""","""lab: 2""",...,"""cchen63@illinois.edu""","""Bioengineering""","""University of illinois""","""1206 West Gregory Drive""","""Urbana""","""Illinois""","""61801""","""USA""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...","""54675"""
19,"""AFX platform, lab 2, tumor, colon adenocarcin...","""GSM1014817""","""Public on Oct 03 2012""","""Oct 03 2012""","""Oct 03 2012""","""RNA""","""1""","""Sample type T (Tumor, colon adenocarcinoma)""","""Homo sapiens""","""lab: 2""",...,"""cchen63@illinois.edu""","""Bioengineering""","""University of illinois""","""1206 West Gregory Drive""","""Urbana""","""Illinois""","""61801""","""USA""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...","""54675"""

In [6]:
for col in df_metadata_all.columns:
    print(f"Column: {col}")
    print(df_metadata_all[col].head())  # Show first few values of each column
    print("-" * 50)

Column: title
0    "AFX platform, lab 1, matched normal colon tis...
1    "AFX platform, lab 1, matched normal colon tis...
2    "AFX platform, lab 1, matched normal colon tis...
3    "AFX platform, lab 1, matched normal colon tis...
4    "AFX platform, lab 1, matched normal colon tis...
Name: title, dtype: object
--------------------------------------------------
Column: geo_accession
0    "GSM1014798"
1    "GSM1014799"
2    "GSM1014800"
3    "GSM1014801"
4    "GSM1014802"
Name: geo_accession, dtype: object
--------------------------------------------------
Column: status
0    "Public on Oct 03 2012"
1    "Public on Oct 03 2012"
2    "Public on Oct 03 2012"
3    "Public on Oct 03 2012"
4    "Public on Oct 03 2012"
Name: status, dtype: object
--------------------------------------------------
Column: submission_date
0    "Oct 03 2012"
1    "Oct 03 2012"
2    "Oct 03 2012"
3    "Oct 03 2012"
4    "Oct 03 2012"
Name: submission_date, dtype: object
--------------------------------------------------
Column: last_update_date
0    "Oct 03 2012"
1    "Oct 03 2012"
2    "Oct 03 2012"
3    "Oct 03 2012"
4    "Oct 03 2012"
Name: last_update_date, dtype: object
--------------------------------------------------
Column: type
0    "RNA"
1    "RNA"
2    "RNA"
3    "RNA"
4    "RNA"
Name: type, dtype: object
--------------------------------------------------
Column: channel_count
0    "1"
1    "1"
2    "1"
3    "1"
4    "1"
Name: channel_count, dtype: object
--------------------------------------------------
Column: source_name_ch1
0    "Sample type N (Normal, matched normal colon t...
1    "Sample type N (Normal, matched normal colon t...
2    "Sample type N (Normal, matched normal colon t...
3    "Sample type N (Normal, matched normal colon t...
4    "Sample type N (Normal, matched normal colon t...
Name: source_name_ch1, dtype: object
--------------------------------------------------
Column: organism_ch1
0    "Homo sapiens"
1    "Homo sapiens"
2    "Homo sapiens"
3    "Homo sapiens"
4    "Homo sapiens"
Name: organism_ch1, dtype: object
--------------------------------------------------
Column: characteristics_ch1
0    "lab: 1"
1    "lab: 1"
2    "lab: 1"
3    "lab: 1"
4    "lab: 1"
Name: characteristics_ch1, dtype: object
--------------------------------------------------
Column: molecule_ch1
0    "total RNA"
1    "total RNA"
2    "total RNA"
3    "total RNA"
4    "total RNA"
Name: molecule_ch1, dtype: object
--------------------------------------------------
Column: extract_protocol_ch1
0    "Colorectal adenocarcinomas and matched normal...
1    "Colorectal adenocarcinomas and matched normal...
2    "Colorectal adenocarcinomas and matched normal...
3    "Colorectal adenocarcinomas and matched normal...
4    "Colorectal adenocarcinomas and matched normal...
Name: extract_protocol_ch1, dtype: object
--------------------------------------------------
Column: label_ch1
0    "biotin"
1    "biotin"
2    "biotin"
3    "biotin"
4    "biotin"
Name: label_ch1, dtype: object
--------------------------------------------------
Column: label_protocol_ch1
0    "5 Âµg of total RNA was used to synthesize cRN...
1    "5 Âµg of total RNA was used to synthesize cRN...
2    "5 Âµg of total RNA was used to synthesize cRN...
3    "5 Âµg of total RNA was used to synthesize cRN...
4    "5 Âµg of total RNA was used to synthesize cRN...
Name: label_protocol_ch1, dtype: object
--------------------------------------------------
Column: taxid_ch1
0    "9606"
1    "9606"
2    "9606"
3    "9606"
4    "9606"
Name: taxid_ch1, dtype: object
--------------------------------------------------
Column: hyb_protocol
0    "20 Âµg of cRNA was hybridized to each individ...
1    "20 Âµg of cRNA was hybridized to each individ...
2    "20 Âµg of cRNA was hybridized to each individ...
3    "20 Âµg of cRNA was hybridized to each individ...
4    "20 Âµg of cRNA was hybridized to each individ...
Name: hyb_protocol, dtype: object
--------------------------------------------------
Column: scan_protocol
0    "GeneChips were scanned using the Affymetrix s...
1    "GeneChips were scanned using the Affymetrix s...
2    "GeneChips were scanned using the Affymetrix s...
3    "GeneChips were scanned using the Affymetrix s...
4    "GeneChips were scanned using the Affymetrix s...
Name: scan_protocol, dtype: object
--------------------------------------------------
Column: description
0    "AFX_1_N1"
1    "AFX_1_N2"
2    "AFX_1_N3"
3    "AFX_1_N4"
4    "AFX_1_N5"
Name: description, dtype: object
--------------------------------------------------
Column: data_processing
0    "The CEL file data were analyzed with BioCondu...
1    "The CEL file data were analyzed with BioCondu...
2    "The CEL file data were analyzed with BioCondu...
3    "The CEL file data were analyzed with BioCondu...
4    "The CEL file data were analyzed with BioCondu...
Name: data_processing, dtype: object
--------------------------------------------------
Column: platform_id
0    "GPL570"
1    "GPL570"
2    "GPL570"
3    "GPL570"
4    "GPL570"
Name: platform_id, dtype: object
--------------------------------------------------
Column: contact_name
0    "Chieh-Chun,,Chen"
1    "Chieh-Chun,,Chen"
2    "Chieh-Chun,,Chen"
3    "Chieh-Chun,,Chen"
4    "Chieh-Chun,,Chen"
Name: contact_name, dtype: object
--------------------------------------------------
Column: contact_email
0    "cchen63@illinois.edu"
1    "cchen63@illinois.edu"
2    "cchen63@illinois.edu"
3    "cchen63@illinois.edu"
4    "cchen63@illinois.edu"
Name: contact_email, dtype: object
--------------------------------------------------
Column: contact_department
0    "Bioengineering"
1    "Bioengineering"
2    "Bioengineering"
3    "Bioengineering"
4    "Bioengineering"
Name: contact_department, dtype: object
--------------------------------------------------
Column: contact_institute
0    "University of illinois"
1    "University of illinois"
2    "University of illinois"
3    "University of illinois"
4    "University of illinois"
Name: contact_institute, dtype: object
--------------------------------------------------
Column: contact_address
0    "1206 West Gregory Drive"
1    "1206 West Gregory Drive"
2    "1206 West Gregory Drive"
3    "1206 West Gregory Drive"
4    "1206 West Gregory Drive"
Name: contact_address, dtype: object
--------------------------------------------------
Column: contact_city
0    "Urbana"
1    "Urbana"
2    "Urbana"
3    "Urbana"
4    "Urbana"
Name: contact_city, dtype: object
--------------------------------------------------
Column: contact_state
0    "Illinois"
1    "Illinois"
2    "Illinois"
3    "Illinois"
4    "Illinois"
Name: contact_state, dtype: object
--------------------------------------------------
Column: contact_zip/postal_code
0    "61801"
1    "61801"
2    "61801"
3    "61801"
4    "61801"
Name: contact_zip/postal_code, dtype: object
--------------------------------------------------
Column: contact_country
0    "USA"
1    "USA"
2    "USA"
3    "USA"
4    "USA"
Name: contact_country, dtype: object
--------------------------------------------------
Column: supplementary_file
0    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...
1    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...
2    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...
3    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...
4    "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...
Name: supplementary_file, dtype: object
--------------------------------------------------
Column: data_row_count
0    "54675"
1    "54675"
2    "54675"
3    "54675"
4    "54675"
Name: data_row_count, dtype: object
--------------------------------------------------

In [7]:
file_path = "GSE41328_series_matrix.txt"
data = pd.read_csv(file_path, sep="\t", comment="!", header=0)
print(data.head())

      ID_REF  GSM1014798  GSM1014799  GSM1014800  GSM1014801  GSM1014802  \
0  1007_s_at  1371.04373  1082.34193   999.32473   938.47594  1061.77177
1    1053_at    91.65902   100.94980   174.42080   116.11931   126.68564
2     117_at    32.01646    21.65034    28.24086    29.63052    27.31567
3     121_at   147.75892   130.63935   121.62150   111.02312   164.94717
4  1255_g_at    39.47231    39.56363    44.26401    22.74315    41.86064

   GSM1014803  GSM1014804  GSM1014805  GSM1014806  ...  GSM1014808  \
0  1349.27240  1171.98198  1033.47452  1084.12535  ...  1206.14029
1   112.14191   265.19268   241.72243   180.47944  ...    85.81195
2    32.03831    29.58002    30.86286    33.40574  ...    30.61529
3   133.27434   186.55403    94.94202   126.01040  ...   137.27313
4    31.73170    41.79535    37.67695    17.65365  ...    32.88276

   GSM1014809  GSM1014810  GSM1014811  GSM1014812  GSM1014813  GSM1014814  \
0   935.27476   905.84656   918.36598  1006.15410  1199.42621  1037.17364
1    81.98230   164.31153   132.64454   152.64340   115.56209   222.51401
2    31.49445    31.16005    23.84998    30.74181    27.12424    35.47094
3   111.59956   125.90342    99.71143   169.22578   116.91669   185.67252
4    43.13538    41.63139    28.68867    41.57301    40.27077    41.52522

   GSM1014815  GSM1014816  GSM1014817
0   880.38517  1016.36730   464.26370
1   205.48119   178.76270   122.29446
2    32.20774    41.61085    29.79143
3    81.84655   127.68666    37.80978
4    35.36475    54.34086    28.97277

[5 rows x 21 columns]

In [8]:
data

,ID_REF,GSM1014798,GSM1014799,GSM1014800,GSM1014801,GSM1014802,GSM1014803,GSM1014804,GSM1014805,GSM1014806,...,GSM1014808,GSM1014809,GSM1014810,GSM1014811,GSM1014812,GSM1014813,GSM1014814,GSM1014815,GSM1014816,GSM1014817
0,1007_s_at,1371.04373,1082.34193,999.32473,938.47594,1061.77177,1349.27240,1171.98198,1033.47452,1084.12535,...,1206.14029,935.27476,905.84656,918.36598,1006.15410,1199.42621,1037.17364,880.38517,1016.36730,464.26370
1,1053_at,91.65902,100.94980,174.42080,116.11931,126.68564,112.14191,265.19268,241.72243,180.47944,...,85.81195,81.98230,164.31153,132.64454,152.64340,115.56209,222.51401,205.48119,178.76270,122.29446
2,117_at,32.01646,21.65034,28.24086,29.63052,27.31567,32.03831,29.58002,30.86286,33.40574,...,30.61529,31.49445,31.16005,23.84998,30.74181,27.12424,35.47094,32.20774,41.61085,29.79143
3,121_at,147.75892,130.63935,121.62150,111.02312,164.94717,133.27434,186.55403,94.94202,126.01040,...,137.27313,111.59956,125.90342,99.71143,169.22578,116.91669,185.67252,81.84655,127.68666,37.80978
4,1255_g_at,39.47231,39.56363,44.26401,22.74315,41.86064,31.73170,41.79535,37.67695,17.65365,...,32.88276,43.13538,41.63139,28.68867,41.57301,40.27077,41.52522,35.36475,54.34086,28.97277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54670,AFFX-ThrX-5_at,20.40790,23.58897,22.15505,21.97115,21.90961,25.17007,20.74085,18.77282,21.71743,...,22.86005,26.22851,23.68601,21.90878,20.93794,21.02003,21.09601,21.49736,21.67398,28.81060
54671,AFFX-ThrX-M_at,21.05545,23.69711,21.29475,22.53985,22.70018,24.14239,23.00397,22.81669,21.04805,...,22.79789,23.62694,23.41548,21.81262,19.45840,21.78151,22.76166,21.55340,22.74156,21.63092
54672,AFFX-TrpnX-3_at,23.71573,26.56811,23.73247,21.73965,24.26956,27.12002,23.24808,26.63089,29.79327,...,29.47550,23.79516,24.39018,23.51293,28.08678,22.96690,23.91027,21.46242,30.70576,29.13017
54673,AFFX-TrpnX-5_at,17.01916,23.00257,21.11858,19.27352,21.17058,21.42324,19.85206,22.12000,22.46143,...,18.70933,18.82482,21.09191,19.15556,16.00463,21.19173,19.54201,18.19203,20.78618,20.61895
54674,AFFX-TrpnX-M_at,18.93326,17.65390,18.00597,17.62619,16.48386,18.53454,18.83048,17.19084,18.94766,...,17.70772,19.04974,20.58309,17.65311,18.87355,16.00338,18.96387,16.17370,19.49809,17.48403

In [9]:
data.to_csv("GSE41328_gene_expression.csv", index=False)