In [1]:
import pandas as pd

In [2]:
metadata_file = "metadata_cleaned.csv"
metadata = pd.read_csv(metadata_file)

In [3]:
metadata

   geo_accession  target
0     GSM1014798  normal
1     GSM1014799  normal
2     GSM1014800  normal
3     GSM1014801  normal
4     GSM1014802  normal
5     GSM1014803   tumor
6     GSM1014804   tumor
7     GSM1014805   tumor
8     GSM1014806   tumor
9     GSM1014807   tumor
10    GSM1014808  normal
11    GSM1014809  normal
12    GSM1014810  normal
13    GSM1014811  normal
14    GSM1014812  normal
15    GSM1014813   tumor
16    GSM1014814   tumor
17    GSM1014815   tumor
18    GSM1014816   tumor
19    GSM1014817   tumor

In [4]:
class_counts = metadata["target"].value_counts()
print(class_counts)

target
normal    10
tumor     10
Name: count, dtype: int64

In [5]:
metadata['target'].replace(['normal', 'tumor'],
                        [0, 1], inplace=True)

In [6]:
metadata

   geo_accession  target
0     GSM1014798       0
1     GSM1014799       0
2     GSM1014800       0
3     GSM1014801       0
4     GSM1014802       0
5     GSM1014803       1
6     GSM1014804       1
7     GSM1014805       1
8     GSM1014806       1
9     GSM1014807       1
10    GSM1014808       0
11    GSM1014809       0
12    GSM1014810       0
13    GSM1014811       0
14    GSM1014812       0
15    GSM1014813       1
16    GSM1014814       1
17    GSM1014815       1
18    GSM1014816       1
19    GSM1014817       1

In [7]:
# Save the cleaned metadata to a new CSV file
output_file = "GSE41328_target_metadata.csv"
metadata.to_csv(output_file, index=False)

print(f"Cleaned metadata saved to {output_file}")

Cleaned metadata saved to GSE41328_target_metadata.csv