In [1]:
import pandas as pd

In [2]:
#read all metadata
metadata_file = "GSE41328_metadata_all.csv" 
metadata = pd.read_csv(metadata_file)

In [3]:
metadata.describe()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,contact_email,contact_department,contact_institute,contact_address,contact_city,contact_state,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
count,20,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
unique,20,20,1,1,1,1,1,2,1,2,...,1,1,1,1,1,1,1,1,20,1
top,"""AFX platform, lab 1, matched normal colon tis...","""GSM1014798""","""Public on Oct 03 2012""","""Oct 03 2012""","""Oct 03 2012""","""RNA""","""1""","""Sample type N (Normal, matched normal colon t...","""Homo sapiens""","""lab: 1""",...,"""cchen63@illinois.edu""","""Bioengineering""","""University of illinois""","""1206 West Gregory Drive""","""Urbana""","""Illinois""","""61801""","""USA""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...","""54675"""
freq,1,1,20,20,20,20,20,10,20,10,...,20,20,20,20,20,20,20,20,1,20

In [4]:
metadata.head()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,contact_email,contact_department,contact_institute,contact_address,contact_city,contact_state,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
0,"""AFX platform, lab 1, matched normal colon tis...","""GSM1014798""","""Public on Oct 03 2012""","""Oct 03 2012""","""Oct 03 2012""","""RNA""","""1""","""Sample type N (Normal, matched normal colon t...","""Homo sapiens""","""lab: 1""",...,"""cchen63@illinois.edu""","""Bioengineering""","""University of illinois""","""1206 West Gregory Drive""","""Urbana""","""Illinois""","""61801""","""USA""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...","""54675"""
1,"""AFX platform, lab 1, matched normal colon tis...","""GSM1014799""","""Public on Oct 03 2012""","""Oct 03 2012""","""Oct 03 2012""","""RNA""","""1""","""Sample type N (Normal, matched normal colon t...","""Homo sapiens""","""lab: 1""",...,"""cchen63@illinois.edu""","""Bioengineering""","""University of illinois""","""1206 West Gregory Drive""","""Urbana""","""Illinois""","""61801""","""USA""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...","""54675"""
2,"""AFX platform, lab 1, matched normal colon tis...","""GSM1014800""","""Public on Oct 03 2012""","""Oct 03 2012""","""Oct 03 2012""","""RNA""","""1""","""Sample type N (Normal, matched normal colon t...","""Homo sapiens""","""lab: 1""",...,"""cchen63@illinois.edu""","""Bioengineering""","""University of illinois""","""1206 West Gregory Drive""","""Urbana""","""Illinois""","""61801""","""USA""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...","""54675"""
3,"""AFX platform, lab 1, matched normal colon tis...","""GSM1014801""","""Public on Oct 03 2012""","""Oct 03 2012""","""Oct 03 2012""","""RNA""","""1""","""Sample type N (Normal, matched normal colon t...","""Homo sapiens""","""lab: 1""",...,"""cchen63@illinois.edu""","""Bioengineering""","""University of illinois""","""1206 West Gregory Drive""","""Urbana""","""Illinois""","""61801""","""USA""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...","""54675"""
4,"""AFX platform, lab 1, matched normal colon tis...","""GSM1014802""","""Public on Oct 03 2012""","""Oct 03 2012""","""Oct 03 2012""","""RNA""","""1""","""Sample type N (Normal, matched normal colon t...","""Homo sapiens""","""lab: 1""",...,"""cchen63@illinois.edu""","""Bioengineering""","""University of illinois""","""1206 West Gregory Drive""","""Urbana""","""Illinois""","""61801""","""USA""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM101...","""54675"""

In [5]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    20 non-null     object
 1   geo_accession            20 non-null     object
 2   status                   20 non-null     object
 3   submission_date          20 non-null     object
 4   last_update_date         20 non-null     object
 5   type                     20 non-null     object
 6   channel_count            20 non-null     object
 7   source_name_ch1          20 non-null     object
 8   organism_ch1             20 non-null     object
 9   characteristics_ch1      20 non-null     object
 10  molecule_ch1             20 non-null     object
 11  extract_protocol_ch1     20 non-null     object
 12  label_ch1                20 non-null     object
 13  label_protocol_ch1       20 non-null     object
 14  taxid_ch1                20 non-null     object
 15  hyb_protocol             20 non-null     object
 16  scan_protocol            20 non-null     object
 17  description              20 non-null     object
 18  data_processing          20 non-null     object
 19  platform_id              20 non-null     object
 20  contact_name             20 non-null     object
 21  contact_email            20 non-null     object
 22  contact_department       20 non-null     object
 23  contact_institute        20 non-null     object
 24  contact_address          20 non-null     object
 25  contact_city             20 non-null     object
 26  contact_state            20 non-null     object
 27  contact_zip/postal_code  20 non-null     object
 28  contact_country          20 non-null     object
 29  supplementary_file       20 non-null     object
 30  data_row_count           20 non-null     object
dtypes: object(31)
memory usage: 5.0+ KB

In [6]:
metadata.shape

(20, 31)

In [7]:
metadata.columns

Index(['title', 'geo_accession', 'status', 'submission_date',
       'last_update_date', 'type', 'channel_count', 'source_name_ch1',
       'organism_ch1', 'characteristics_ch1', 'molecule_ch1',
       'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1',
       'hyb_protocol', 'scan_protocol', 'description', 'data_processing',
       'platform_id', 'contact_name', 'contact_email', 'contact_department',
       'contact_institute', 'contact_address', 'contact_city', 'contact_state',
       'contact_zip/postal_code', 'contact_country', 'supplementary_file',
       'data_row_count'],
      dtype='object')

In [8]:
# List of columns to remove
columns_to_remove = [
    "status", "submission_date", "last_update_date", "type", "channel_count",
    "source_name_ch1", "organism_ch1", "characteristics_ch1",'molecule_ch1',
       'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1',
       'hyb_protocol', 'scan_protocol', 'description', 'data_processing', "platform_id",
    "contact_name", "contact_email",'contact_phone', "contact_institute", "contact_address",
    "contact_city", 'contact_state', "contact_zip/postal_code", "contact_country","contact_department",
    "supplementary_file", "data_row_count"
]

metadata_cleaned = metadata.drop(columns=columns_to_remove, errors="ignore")

In [9]:
metadata_cleaned.head()

                                               title geo_accession
0  "AFX platform, lab 1, matched normal colon tis...  "GSM1014798"
1  "AFX platform, lab 1, matched normal colon tis...  "GSM1014799"
2  "AFX platform, lab 1, matched normal colon tis...  "GSM1014800"
3  "AFX platform, lab 1, matched normal colon tis...  "GSM1014801"
4  "AFX platform, lab 1, matched normal colon tis...  "GSM1014802"

In [10]:
metadata_cleaned.tail()

                                                title geo_accession
15  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014813"
16  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014814"
17  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014815"
18  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014816"
19  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014817"

In [11]:
metadata_cleaned["target"] = metadata_cleaned["title"].str.extract(r"(normal|tumor)")

In [12]:
metadata_cleaned.head()

                                               title geo_accession  target
0  "AFX platform, lab 1, matched normal colon tis...  "GSM1014798"  normal
1  "AFX platform, lab 1, matched normal colon tis...  "GSM1014799"  normal
2  "AFX platform, lab 1, matched normal colon tis...  "GSM1014800"  normal
3  "AFX platform, lab 1, matched normal colon tis...  "GSM1014801"  normal
4  "AFX platform, lab 1, matched normal colon tis...  "GSM1014802"  normal

In [13]:
metadata_cleaned.tail()

                                                title geo_accession target
15  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014813"  tumor
16  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014814"  tumor
17  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014815"  tumor
18  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014816"  tumor
19  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014817"  tumor

In [14]:
metadata_cleaned

                                                title geo_accession  target
0   "AFX platform, lab 1, matched normal colon tis...  "GSM1014798"  normal
1   "AFX platform, lab 1, matched normal colon tis...  "GSM1014799"  normal
2   "AFX platform, lab 1, matched normal colon tis...  "GSM1014800"  normal
3   "AFX platform, lab 1, matched normal colon tis...  "GSM1014801"  normal
4   "AFX platform, lab 1, matched normal colon tis...  "GSM1014802"  normal
5   "AFX platform, lab 1, tumor, colon adenocarcin...  "GSM1014803"   tumor
6   "AFX platform, lab 1, tumor, colon adenocarcin...  "GSM1014804"   tumor
7   "AFX platform, lab 1, tumor, colon adenocarcin...  "GSM1014805"   tumor
8   "AFX platform, lab 1, tumor, colon adenocarcin...  "GSM1014806"   tumor
9   "AFX platform, lab 1, tumor, colon adenocarcin...  "GSM1014807"   tumor
10  "AFX platform, lab 2, matched normal colon tis...  "GSM1014808"  normal
11  "AFX platform, lab 2, matched normal colon tis...  "GSM1014809"  normal
12  "AFX platform, lab 2, matched normal colon tis...  "GSM1014810"  normal
13  "AFX platform, lab 2, matched normal colon tis...  "GSM1014811"  normal
14  "AFX platform, lab 2, matched normal colon tis...  "GSM1014812"  normal
15  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014813"   tumor
16  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014814"   tumor
17  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014815"   tumor
18  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014816"   tumor
19  "AFX platform, lab 2, tumor, colon adenocarcin...  "GSM1014817"   tumor

In [15]:
metadata_final = metadata_cleaned.drop(columns='title', errors="ignore")

In [16]:
metadata_final.head()

  geo_accession  target
0  "GSM1014798"  normal
1  "GSM1014799"  normal
2  "GSM1014800"  normal
3  "GSM1014801"  normal
4  "GSM1014802"  normal

In [17]:
# Remove quotes from the geo_accession column (it's the first column)
metadata_final.iloc[:, 0] = metadata_final.iloc[:, 0].str.replace('"', '', regex=False)

In [18]:
metadata_cleaned= metadata_final
metadata_cleaned.head()

  geo_accession  target
0    GSM1014798  normal
1    GSM1014799  normal
2    GSM1014800  normal
3    GSM1014801  normal
4    GSM1014802  normal

In [19]:
# Save the cleaned metadata
metadata_cleaned.to_csv("metadata_cleaned.csv", index=False)

print("Columns removed and saved as metadata_cleaned.csv")

Columns removed and saved as metadata_cleaned.csv