In [1]:
import pandas as pd

In [2]:
metadata_file = "metadata_cleaned.csv"
metadata = pd.read_csv(metadata_file)

In [3]:
metadata

    geo_accession  target
0       GSM543123  cancer
1       GSM543124  cancer
2       GSM543125  cancer
3       GSM543126  cancer
4       GSM543127  cancer
..            ...     ...
136     GSM543259  normal
137     GSM543260  normal
138     GSM543261  normal
139     GSM543262  normal
140     GSM543263  normal

[141 rows x 2 columns]

In [4]:
class_counts = metadata["target"].value_counts()
print(class_counts)

target
cancer    132
normal      9
Name: count, dtype: int64

In [5]:
metadata['target'].replace(['normal', 'cancer'],
                        [0, 1], inplace=True)

In [6]:
metadata

    geo_accession  target
0       GSM543123       1
1       GSM543124       1
2       GSM543125       1
3       GSM543126       1
4       GSM543127       1
..            ...     ...
136     GSM543259       0
137     GSM543260       0
138     GSM543261       0
139     GSM543262       0
140     GSM543263       0

[141 rows x 2 columns]

In [7]:
# Save the cleaned metadata to a new CSV file
output_file = "GSE21815_target_metadata.csv"
metadata.to_csv(output_file, index=False)

print(f"Cleaned metadata saved to {output_file}")

Cleaned metadata saved to GSE21815_target_metadata.csv