In [1]:
import pandas as pd
import re

In [2]:
#file path
file_path = "GSE106582_series_matrix.txt"

# Read the file, ignoring comment lines and extracting metadata
metadata = {}
with open(file_path, "r") as file:
    for line in file:
        if line.startswith("!Sample_"):
            key, values = line.split("\t", 1)
            key = key.replace("!Sample_", "").strip()
            values = values.strip().split("\t")
            metadata[key] = values

df_metadata_all = pd.DataFrame(metadata)

print(df_metadata_all.head())

        title geo_accession                   status submission_date  \
0  "400072_A"  "GSM2843099"  "Public on Dec 01 2018"   "Nov 06 2017"
1  "400072_C"  "GSM2843100"  "Public on Dec 01 2018"   "Nov 06 2017"
2  "400152_A"  "GSM2843101"  "Public on Dec 01 2018"   "Nov 06 2017"
3  "400152_C"  "GSM2843102"  "Public on Dec 01 2018"   "Nov 06 2017"
4  "400200_C"  "GSM2843103"  "Public on Dec 01 2018"   "Nov 06 2017"

  last_update_date   type channel_count                  source_name_ch1  \
0    "Dec 01 2018"  "RNA"           "1"   "Patient 400072; Tissue tumor"
1    "Dec 01 2018"  "RNA"           "1"  "Patient 400072; Tissue mucosa"
2    "Dec 01 2018"  "RNA"           "1"   "Patient 400152; Tissue tumor"
3    "Dec 01 2018"  "RNA"           "1"  "Patient 400152; Tissue mucosa"
4    "Dec 01 2018"  "RNA"           "1"  "Patient 400200; Tissue mucosa"

     organism_ch1                         characteristics_ch1  ...  \
0  "Homo sapiens"  "disease state: Colorectal cancer patient"  ...
1  "Homo sapiens"  "disease state: Colorectal cancer patient"  ...
2  "Homo sapiens"  "disease state: Colorectal cancer patient"  ...
3  "Homo sapiens"  "disease state: Colorectal cancer patient"  ...
4  "Homo sapiens"  "disease state: Colorectal cancer patient"  ...

                                     data_processing platform_id  \
0  "NA probes were removed and remaining data wer...  "GPL10558"
1  "NA probes were removed and remaining data wer...  "GPL10558"
2  "NA probes were removed and remaining data wer...  "GPL10558"
3  "NA probes were removed and remaining data wer...  "GPL10558"
4  "NA probes were removed and remaining data wer...  "GPL10558"

           contact_name              contact_institute      contact_address  \
0  "Geoffroy,,Andrieux"  "University clinics Freiburg"  "Breisacherstr 153"
1  "Geoffroy,,Andrieux"  "University clinics Freiburg"  "Breisacherstr 153"
2  "Geoffroy,,Andrieux"  "University clinics Freiburg"  "Breisacherstr 153"
3  "Geoffroy,,Andrieux"  "University clinics Freiburg"  "Breisacherstr 153"
4  "Geoffroy,,Andrieux"  "University clinics Freiburg"  "Breisacherstr 153"

  contact_city contact_zip/postal_code contact_country supplementary_file  \
0   "Freiburg"                 "79110"       "Germany"             "NONE"
1   "Freiburg"                 "79110"       "Germany"             "NONE"
2   "Freiburg"                 "79110"       "Germany"             "NONE"
3   "Freiburg"                 "79110"       "Germany"             "NONE"
4   "Freiburg"                 "79110"       "Germany"             "NONE"

  data_row_count
0        "47290"
1        "47290"
2        "47290"
3        "47290"
4        "47290"

[5 rows x 27 columns]

In [3]:
# Save the metadata DataFrame to a CSV file
df_metadata_all.to_csv("GSE106582_metadata_all.csv", index=False)

In [4]:
print(list(df_metadata_all.columns))

['title', 'geo_accession', 'status', 'submission_date', 'last_update_date', 'type', 'channel_count', 'source_name_ch1', 'organism_ch1', 'characteristics_ch1', 'molecule_ch1', 'extract_protocol_ch1', 'label_ch1', 'label_protocol_ch1', 'taxid_ch1', 'hyb_protocol', 'scan_protocol', 'data_processing', 'platform_id', 'contact_name', 'contact_institute', 'contact_address', 'contact_city', 'contact_zip/postal_code', 'contact_country', 'supplementary_file', 'data_row_count']

In [5]:
df_metadata_all.tail()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,data_processing,platform_id,contact_name,contact_institute,contact_address,contact_city,contact_zip/postal_code,contact_country,supplementary_file,data_row_count
189,"""404656_A""","""GSM2843288""","""Public on Dec 01 2018""","""Nov 06 2017""","""Dec 01 2018""","""RNA""","""1""","""Patient 404656; Tissue tumor""","""Homo sapiens""","""disease state: Colorectal cancer patient""",...,"""NA probes were removed and remaining data wer...","""GPL10558""","""Geoffroy,,Andrieux""","""University clinics Freiburg""","""Breisacherstr 153""","""Freiburg""","""79110""","""Germany""","""NONE""","""47290"""
190,"""404656_C2""","""GSM2843289""","""Public on Dec 01 2018""","""Nov 06 2017""","""Dec 01 2018""","""RNA""","""1""","""Patient 404656; Tissue mucosa""","""Homo sapiens""","""disease state: Colorectal cancer patient""",...,"""NA probes were removed and remaining data wer...","""GPL10558""","""Geoffroy,,Andrieux""","""University clinics Freiburg""","""Breisacherstr 153""","""Freiburg""","""79110""","""Germany""","""NONE""","""47290"""
191,"""404768_C1""","""GSM2843290""","""Public on Dec 01 2018""","""Nov 06 2017""","""Dec 01 2018""","""RNA""","""1""","""Patient 404768; Tissue mucosa""","""Homo sapiens""","""disease state: Colorectal cancer patient""",...,"""NA probes were removed and remaining data wer...","""GPL10558""","""Geoffroy,,Andrieux""","""University clinics Freiburg""","""Breisacherstr 153""","""Freiburg""","""79110""","""Germany""","""NONE""","""47290"""
192,"""404848_A""","""GSM2843291""","""Public on Dec 01 2018""","""Nov 06 2017""","""Dec 01 2018""","""RNA""","""1""","""Patient 404848; Tissue tumor""","""Homo sapiens""","""disease state: Colorectal cancer patient""",...,"""NA probes were removed and remaining data wer...","""GPL10558""","""Geoffroy,,Andrieux""","""University clinics Freiburg""","""Breisacherstr 153""","""Freiburg""","""79110""","""Germany""","""NONE""","""47290"""
193,"""404848_C1""","""GSM2843292""","""Public on Dec 01 2018""","""Nov 06 2017""","""Dec 01 2018""","""RNA""","""1""","""Patient 404848; Tissue mucosa""","""Homo sapiens""","""disease state: Colorectal cancer patient""",...,"""NA probes were removed and remaining data wer...","""GPL10558""","""Geoffroy,,Andrieux""","""University clinics Freiburg""","""Breisacherstr 153""","""Freiburg""","""79110""","""Germany""","""NONE""","""47290"""

In [6]:
for col in df_metadata_all.columns:
    print(f"Column: {col}")
    print(df_metadata_all[col].head())  # Show first few values of each column
    print("-" * 50)

Column: title
0    "400072_A"
1    "400072_C"
2    "400152_A"
3    "400152_C"
4    "400200_C"
Name: title, dtype: object
--------------------------------------------------
Column: geo_accession
0    "GSM2843099"
1    "GSM2843100"
2    "GSM2843101"
3    "GSM2843102"
4    "GSM2843103"
Name: geo_accession, dtype: object
--------------------------------------------------
Column: status
0    "Public on Dec 01 2018"
1    "Public on Dec 01 2018"
2    "Public on Dec 01 2018"
3    "Public on Dec 01 2018"
4    "Public on Dec 01 2018"
Name: status, dtype: object
--------------------------------------------------
Column: submission_date
0    "Nov 06 2017"
1    "Nov 06 2017"
2    "Nov 06 2017"
3    "Nov 06 2017"
4    "Nov 06 2017"
Name: submission_date, dtype: object
--------------------------------------------------
Column: last_update_date
0    "Dec 01 2018"
1    "Dec 01 2018"
2    "Dec 01 2018"
3    "Dec 01 2018"
4    "Dec 01 2018"
Name: last_update_date, dtype: object
--------------------------------------------------
Column: type
0    "RNA"
1    "RNA"
2    "RNA"
3    "RNA"
4    "RNA"
Name: type, dtype: object
--------------------------------------------------
Column: channel_count
0    "1"
1    "1"
2    "1"
3    "1"
4    "1"
Name: channel_count, dtype: object
--------------------------------------------------
Column: source_name_ch1
0     "Patient 400072; Tissue tumor"
1    "Patient 400072; Tissue mucosa"
2     "Patient 400152; Tissue tumor"
3    "Patient 400152; Tissue mucosa"
4    "Patient 400200; Tissue mucosa"
Name: source_name_ch1, dtype: object
--------------------------------------------------
Column: organism_ch1
0    "Homo sapiens"
1    "Homo sapiens"
2    "Homo sapiens"
3    "Homo sapiens"
4    "Homo sapiens"
Name: organism_ch1, dtype: object
--------------------------------------------------
Column: characteristics_ch1
0    "disease state: Colorectal cancer patient"
1    "disease state: Colorectal cancer patient"
2    "disease state: Colorectal cancer patient"
3    "disease state: Colorectal cancer patient"
4    "disease state: Colorectal cancer patient"
Name: characteristics_ch1, dtype: object
--------------------------------------------------
Column: molecule_ch1
0    "total RNA"
1    "total RNA"
2    "total RNA"
3    "total RNA"
4    "total RNA"
Name: molecule_ch1, dtype: object
--------------------------------------------------
Column: extract_protocol_ch1
0    "Tissue samples were collected from patients u...
1    "Tissue samples were collected from patients u...
2    "Tissue samples were collected from patients u...
3    "Tissue samples were collected from patients u...
4    "Tissue samples were collected from patients u...
Name: extract_protocol_ch1, dtype: object
--------------------------------------------------
Column: label_ch1
0    "biotin"
1    "biotin"
2    "biotin"
3    "biotin"
4    "biotin"
Name: label_ch1, dtype: object
--------------------------------------------------
Column: label_protocol_ch1
0    "According to the Illumina HumanHT-12 v4 Expre...
1    "According to the Illumina HumanHT-12 v4 Expre...
2    "According to the Illumina HumanHT-12 v4 Expre...
3    "According to the Illumina HumanHT-12 v4 Expre...
4    "According to the Illumina HumanHT-12 v4 Expre...
Name: label_protocol_ch1, dtype: object
--------------------------------------------------
Column: taxid_ch1
0    "9606"
1    "9606"
2    "9606"
3    "9606"
4    "9606"
Name: taxid_ch1, dtype: object
--------------------------------------------------
Column: hyb_protocol
0    "Hybridisation was performed according to the ...
1    "Hybridisation was performed according to the ...
2    "Hybridisation was performed according to the ...
3    "Hybridisation was performed according to the ...
4    "Hybridisation was performed according to the ...
Name: hyb_protocol, dtype: object
--------------------------------------------------
Column: scan_protocol
0    "Arrays were imaged using Illumina default set...
1    "Arrays were imaged using Illumina default set...
2    "Arrays were imaged using Illumina default set...
3    "Arrays were imaged using Illumina default set...
4    "Arrays were imaged using Illumina default set...
Name: scan_protocol, dtype: object
--------------------------------------------------
Column: data_processing
0    "NA probes were removed and remaining data wer...
1    "NA probes were removed and remaining data wer...
2    "NA probes were removed and remaining data wer...
3    "NA probes were removed and remaining data wer...
4    "NA probes were removed and remaining data wer...
Name: data_processing, dtype: object
--------------------------------------------------
Column: platform_id
0    "GPL10558"
1    "GPL10558"
2    "GPL10558"
3    "GPL10558"
4    "GPL10558"
Name: platform_id, dtype: object
--------------------------------------------------
Column: contact_name
0    "Geoffroy,,Andrieux"
1    "Geoffroy,,Andrieux"
2    "Geoffroy,,Andrieux"
3    "Geoffroy,,Andrieux"
4    "Geoffroy,,Andrieux"
Name: contact_name, dtype: object
--------------------------------------------------
Column: contact_institute
0    "University clinics Freiburg"
1    "University clinics Freiburg"
2    "University clinics Freiburg"
3    "University clinics Freiburg"
4    "University clinics Freiburg"
Name: contact_institute, dtype: object
--------------------------------------------------
Column: contact_address
0    "Breisacherstr 153"
1    "Breisacherstr 153"
2    "Breisacherstr 153"
3    "Breisacherstr 153"
4    "Breisacherstr 153"
Name: contact_address, dtype: object
--------------------------------------------------
Column: contact_city
0    "Freiburg"
1    "Freiburg"
2    "Freiburg"
3    "Freiburg"
4    "Freiburg"
Name: contact_city, dtype: object
--------------------------------------------------
Column: contact_zip/postal_code
0    "79110"
1    "79110"
2    "79110"
3    "79110"
4    "79110"
Name: contact_zip/postal_code, dtype: object
--------------------------------------------------
Column: contact_country
0    "Germany"
1    "Germany"
2    "Germany"
3    "Germany"
4    "Germany"
Name: contact_country, dtype: object
--------------------------------------------------
Column: supplementary_file
0    "NONE"
1    "NONE"
2    "NONE"
3    "NONE"
4    "NONE"
Name: supplementary_file, dtype: object
--------------------------------------------------
Column: data_row_count
0    "47290"
1    "47290"
2    "47290"
3    "47290"
4    "47290"
Name: data_row_count, dtype: object
--------------------------------------------------

In [7]:
file_path = "GSE106582_series_matrix.txt"
data = pd.read_csv(file_path, sep="\t", comment="!", header=0)
print(data.head())

         ID_REF  GSM2843099  GSM2843100  GSM2843101  GSM2843102  GSM2843103  \
0  ILMN_1343291   14.246636   14.306430   14.348227   14.233364   14.037613
1  ILMN_1343295   12.738228   12.206211   12.700099   12.029697   11.334419
2  ILMN_1651199    6.412016    6.633564    6.574890    6.450712    6.579476
3  ILMN_1651209    6.710966    6.805210    6.622005    6.668240    6.736337
4  ILMN_1651210    6.512163    6.588000    6.532367    6.576099    6.343878

   GSM2843104  GSM2843105  GSM2843106  GSM2843107  ...  GSM2843283  \
0   14.306430   14.209482   14.233364   14.137572  ...   14.075304
1   12.816596   12.552413   12.822330   11.944893  ...   11.679008
2    6.439554    6.431542    6.346484    6.518873  ...    6.420452
3    6.703673    6.452449    6.592954    6.502550  ...    6.612033
4    6.589865    6.501190    6.571158    6.659456  ...    6.470704

   GSM2843284  GSM2843285  GSM2843286  GSM2843287  GSM2843288  GSM2843289  \
0   14.209482   14.262302   14.137572   14.185752   14.306430   14.193309
1   11.843007   12.866065   11.624542   11.237864   11.465310   11.443065
2    6.674008    6.711727    6.579345    6.388410    6.399378    6.889240
3    6.555067    6.474639    6.650995    6.624086    6.799771    6.573304
4    6.419202    6.517013    6.552662    6.433940    6.433472    6.387217

   GSM2843290  GSM2843291  GSM2843292
0   14.348227   14.280982   14.246636
1   10.883836   11.750486   11.466828
2    6.394718    6.516751    6.187478
3    6.542434    6.601863    6.723900
4    6.443103    6.389635    6.528619

[5 rows x 195 columns]

In [8]:
data

,ID_REF,GSM2843099,GSM2843100,GSM2843101,GSM2843102,GSM2843103,GSM2843104,GSM2843105,GSM2843106,GSM2843107,...,GSM2843283,GSM2843284,GSM2843285,GSM2843286,GSM2843287,GSM2843288,GSM2843289,GSM2843290,GSM2843291,GSM2843292
0,ILMN_1343291,14.246636,14.306430,14.348227,14.233364,14.037613,14.306430,14.209482,14.233364,14.137572,...,14.075304,14.209482,14.262302,14.137572,14.185752,14.306430,14.193309,14.348227,14.280982,14.246636
1,ILMN_1343295,12.738228,12.206211,12.700099,12.029697,11.334419,12.816596,12.552413,12.822330,11.944893,...,11.679008,11.843007,12.866065,11.624542,11.237864,11.465310,11.443065,10.883836,11.750486,11.466828
2,ILMN_1651199,6.412016,6.633564,6.574890,6.450712,6.579476,6.439554,6.431542,6.346484,6.518873,...,6.420452,6.674008,6.711727,6.579345,6.388410,6.399378,6.889240,6.394718,6.516751,6.187478
3,ILMN_1651209,6.710966,6.805210,6.622005,6.668240,6.736337,6.703673,6.452449,6.592954,6.502550,...,6.612033,6.555067,6.474639,6.650995,6.624086,6.799771,6.573304,6.542434,6.601863,6.723900
4,ILMN_1651210,6.512163,6.588000,6.532367,6.576099,6.343878,6.589865,6.501190,6.571158,6.659456,...,6.470704,6.419202,6.517013,6.552662,6.433940,6.433472,6.387217,6.443103,6.389635,6.528619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47285,ILMN_3311170,6.449088,6.505448,6.486032,6.430602,6.251682,6.474451,6.391447,6.516322,6.392888,...,6.517429,6.467505,6.475757,6.468379,6.589086,6.465575,6.420687,6.342178,6.470755,6.493471
47286,ILMN_3311175,6.591616,6.357162,6.516502,6.406007,6.395073,6.550968,6.503573,6.722033,6.639281,...,6.690472,6.529689,6.483030,6.635693,6.524489,6.473099,6.459328,6.314941,6.463463,6.693655
47287,ILMN_3311180,6.692787,6.475546,6.717430,6.656576,6.501447,6.553534,6.508363,6.484975,6.535658,...,6.541212,6.657075,6.726610,6.490189,6.415904,6.642995,6.678250,6.624100,6.422734,6.384570
47288,ILMN_3311185,6.453807,6.567090,6.437957,6.535869,6.594540,6.508199,6.693645,6.587858,6.582771,...,6.619340,6.520986,6.408985,6.588522,6.556001,6.547651,6.547469,6.380172,6.563595,6.497966
47289,ILMN_3311190,6.825473,6.754554,6.435831,6.750124,6.519387,6.516198,6.655566,6.635991,6.557947,...,6.594279,6.541334,6.744272,6.491128,6.562371,6.374058,6.475304,6.606369,6.704950,6.545678

In [9]:
data.to_csv("GSE106582_gene_expression.csv", index=False)